<!-- BEGIN: add-to-cart -->
<div class="addtocart addtocart-@@labelClass">
    <div class="addtocart_cart">
        <div class="addtocart_label addtocart_label-@@labelClass">@@labelText</div>
        <div class="addtocart_prices">
            <div class="addtocart_price addtocart_price-cur">
                <span class="value">@@price</span>
                <span class="rubl">a</span>
            </div>
            <div class="addtocart_price addtocart_price-old">
                <p class="text">вместо</p>
                <span class="value">@@priceOld</span>
            </div>
            <div class="addtocart_price addtocart_price-dis">
                <p class="text">вы экономите</p>
                <span class="value">@@priceDiscount</span>
            </div>
            <div class="addtocart_price addtocart_price-label">15%</div>
        </div>
        <div class="addtocart_btns">
            <a href="#" class="addtocart_btn addtocart_btn-add">
                <div class="addtocart_btnwrap">
                    <img src="assets/img/shopping-bag.png" alt="bag">
                    <img class="hidden" src="assets/img/check-2.png" alt="bag">
                    <span class="text">В корзину</span>
                    <span class="text text-sm hidden">Перейти К оформлению</span>
                </div>
                <div class="tooltip">
                    <div class="tooltip_icon">
                        <img src="assets/img/correct-symbol.png" alt="img">
                    </div>
                    <div class="tooltip_info">
                        <div class="tooltip_title">Товар добавлен в корзину!</div>
                        <div class="tooltip_text">Чтобы перейти к оформлению нажимте кнопку.</div>
                    </div>
                </div>
            </a>
            <a href="#" class="addtocart_btn addtocart_btn-fav">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <p class="text">Избранное</p>
            </a>
        </div>
    </div>
    <div class="addtocart_credit">
        <span class="text">Этот подарок можно купить
            <a href="#showCredit" class="modal_toggle">В КРЕДИТ!</a>
        </span>
    </div>
    <ul class="addtocart_props">
        <li class="addtocart_prop">
            <div class="addtocart_propimg">
                <img src="assets/img/certificate.png" alt="">
            </div>
            <span class="text">Этот товар можно
                <a href="#personGift" class="b-main_link personal-gift-link">персонализировать</a>
            </span>
        </li>
        <li class="addtocart_prop">
            <div class="addtocart_propimg">
                <img src="assets/img/money-bag.png" alt="">
            </div>
            <span class="text">Бесплатно к товару:
                <a href="#" class="b-main_link">мешочек</a>
            </span>
        </li>
        <li class="addtocart_prop">
            <div class="addtocart_propimg">
                <img src="assets/img/delivery-truck.png" alt="">
            </div>
            <span class="text">Этот товар мы доставить по Москве<span class="value"> за 0 руб!</span></span>
            
        </li>
    </ul>
</div>
<!-- END: add-to-cart -->