<div class="advantages">
    <h3 class="section_title">
        <span class="text">Наши преимущества</span>
        <div class="line"></div>
    </h3>
    <div class="advantages_block">
        <div class="slider-adv">
            <div class="slider-adv_item">
                <div class="advantage">
                    <div class="advantage_head">
                        <img src="assets/img/adv-1.png" alt="adv-1">
                    </div>
                    <h3 class="advantage_title">Срочная доставка</h3>
                    <p class="advantage_text">Мы прикладываем максимум усилий, чтобы наши клиенты получали св</p>
                </div>
            </div>
            <div class="slider-adv_item">
                <div class="advantage">
                    <div class="advantage_head">
                        <img src="assets/img/adv-2.png" alt="adv-2">
                    </div>
                    <h3 class="advantage_title">Возврат товара</h3>
                    <p class="advantage_text">Бывают разные случаи в жизни: поторопились с выбором, передумали дарить именно этот подарок - мы все
                        понимаем, поэтому готовы оформить возвраты невостребованных подарков.</p>
                </div>
            </div>
            <div class="slider-adv_item">
                <div class="advantage">
                    <div class="advantage_head">
                        <img src="assets/img/adv-1.png" alt="adv-1">
                    </div>
                    <h3 class="advantage_title">Срочная доставка</h3>
                    <p class="advantage_text">Мы прикладываем максимум усилий, чтобы наши клиенты получали св</p>
                </div>
            </div>
            <div class="slider-adv_item">
                <div class="advantage">
                    <div class="advantage_head">
                        <img src="assets/img/adv-2.png" alt="adv-2">
                    </div>
                    <h3 class="advantage_title">Возврат товара</h3>
                    <p class="advantage_text">Бывают разные случаи в жизни: поторопились с выбором, передумали дарить именно этот подарок - мы все
                        понимаем, поэтому готовы оформить возвраты невостребованных подарков.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="review">
    <h3 class="section_title">
        <span class="text">Более 500 отзывов клиентов</span>
        <div class="line"></div>
    </h3>
    <div class="review_block">
        <ul class="review_list">
            <li class="review_item">
                <a href="https://darito.ru/upload/iblock/439/439800e62df5fd9d9e645c9a50f68498.jpg" class="review_post">
                    <img alt="img" src="assets/img/reply.png">
                </a>
            </li>
            <li class="review_item">
                <a href="https://darito.ru/upload/iblock/439/439800e62df5fd9d9e645c9a50f68498.jpg" class="review_post">
                    <img alt="im" src="assets/img/reply.png">
                </a>
            </li>
            <li class="review_item">
                <a href="https://darito.ru/upload/iblock/439/439800e62df5fd9d9e645c9a50f68498.jpg" class="review_post">
                    <img alt="im" src="assets/img/reply.png">
                </a>
            </li>
            <li class="review_item">
                <a href="https://darito.ru/upload/iblock/439/439800e62df5fd9d9e645c9a50f68498.jpg" class="review_post">
                    <img alt="im" src="assets/img/reply.png">
                </a>
            </li>
        </ul>
        <a href="#" class="review_link">
            <img src="assets/img/arrow-circle.png" alt=""> Читать любой отзыв</a>
    </div>
</div>