<div class="b-order">
    <h3 class="section_title">
        <span class="text">Итак, берем?</span>
        <div class="line"></div>
    </h3>
    <div class="b-order_block">
        <div class="b-order_img">
            <img src="assets/img/main.png" alt="main">
        </div>
        <div class="b-order_info">
            <img src="assets/img/arrow-circle-down.png" alt="" class="b-order_infobg">
            <h3 class="b-order_title">Издание «Футбол, Энциклопедия» в 3 томах</h3>
            <p class="b-order_desc">В кожаном переплете с тематическим футляром в мешочке</p>
            <div class="b-order_purchase">
                @@include('_add-to-cart.html', {"labelClass": "available", "labelText": "В наличии", "price": "600 000", "priceOld": "740 000", "priceDiscount": "140 000"})
            </div>
        </div>
    </div>
</div>
<div class="b-bonus">
    <h3 class="section_title">
        <span class="text">Бонусы к покупке</span>
        <div class="line"></div>
    </h3>
    <div class="b-bonus_block">
        @@include('_bonus-item.html', {"class": "1", "title": "Не знаете что сказать когда дарите подарок?", "text": "Мы подготовили более 100 готовых речей, тостов и анекдотов", "img": "assets/img/pdf.png"})
        @@include('_bonus-item.html', {"class": "2", "title": "Хотите стильно упаковать подарок?", "text": "Мы подготовили видеоинструкцию по упаковке товара самостоятельн", "img": "assets/img/video.png"})
    </div>
</div>