<!-- BEGIN: bonus-item -->
<div class="b-bonus_item b-bonus_item-@@class">
    <div class="b-bonus_info">
        <h4 class="b-bonus_title">@@title</h4>
        <p class="b-bonus_text">@@text</p>
    </div>
    <div class="b-bonus_purchase">Сделать заказ и получить бонус!</div>
    <div class="b-bonus_purchase b-bonus_purchase-sm">Сделать заказ</div>
    <div class="b-bonus_itemimg"><img src="@@img" alt="img"></div>
</div>
<!-- END: bonus-item -->