<div class="desc">
    <div class="desc_block">
        <div class="desc_wrap desc_wrap-text">
            <p class="desc_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem autem assumenda natus! Suscipit, vel sequi. Asperiores
                earum, doloremque omnis neque rem quos reprehenderit molestiae fugiat, commodi libero quo cumque deleniti.</p>
            <p class="desc_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae quaerat sapiente
                est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae voluptates
                eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae
                quaerat sapiente est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae
                voluptates eius?</p>
            <p class="desc_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quam rem, sapiente officiis dolores cumque est
                eligendi. Fugiat ut fugit delectus, ea laboriosam nobis sint similique reiciendis numquam cum dolor? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae quaerat sapiente
                est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae voluptates
                eius? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quam rem, sapiente officiis dolores
                cumque est eligendi. Fugiat ut fugit delectus, ea laboriosam nobis sint similique reiciendis numquam cum
                dolor? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae
                quaerat sapiente est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae
                voluptates eius?
            </p>
        </div>
        <a href="#" class="desc_link desc_link-full">
            <span class="text">Прочитать все</span>
            <span class="text hidden">Скрыть</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
    </div>
</div>