<!-- BEGIN b-footer -->
<footer id="footer" class="b-footer">
    <div class="b-footer-top">
        <div class="container">
            <div class="box">
                <div class="box_item">
                    <div class="b-footer-top_info">
                        <div class="b-footer-top_list">
                            <h4 class="title">НАШ МАГАЗИН</h4>
                            <ul>
                                <li><a href="#">Каталог подарков</a></li>
                                <li><a href="#">Наши преимущества</a></li>
                                <li><a href="#">Контакты и реквизиты</a></li>
                                <li><a href="#">О нас</a></li>
                            </ul>
                        </div>
                        <div class="b-footer-top_list">
                            <h4 class="title">ПОКУПАТЕЛЯМ</h4>
                            <ul>
                                <li><a href="#">Часто задаваемые вопросы</a></li>
                                <li><a href="#">Вход в личный кабинет</a></li>
                                <li><a href="#">Условия возврата</a></li>
                                <li><a href="#">Защита информации</a></li>
                                <li><a href="#">Правила сайта</a></li>
                                <li><a href="#">Обратная связь</a></li>
                            </ul>
                        </div>
                        <div class="b-footer-top_list">
                            <h4 class="title">УСЛУГИ</h4>
                            <ul>
                                <li><a href="#">Изготовление под заказ</a></li>
                                <li><a href="#">Корпоративные подарки</a></li>
                                <li><a href="#">Персонализация подарка</a></li>
                                <li><a href="#">Подбор подарка</a></li>
                                <li><a href="#">Индивидуальный переплет книг</a></li>
                            </ul>
                        </div>
                        <div class="b-footer-top_list">
                            <h4 class="title">ПОЛЕЗНО</h4>
                            <ul>
                                <li><a href="#">wiki.darito</a></li>
                                <li><a href="#">Анатомия книги</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Блог</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box_item box_item--auto">
                    <div class="b-footer-top_contact">
                        <h4 class="title">КОНТАКТНАЯ ИНФОРМАЦИЯ</h4>
                        <div class="b-footer-top_contact-b phone">
                            <p class="key">Телефон</p>
                            <p class="val val--lg"><a href="tel:8 (800) 500 04 96">8 (800) 500 04 96</a></p>
                            <p class="val val--lg"><a href="tel:8 (495) 720 60 95">8 (495) 720 60 95</a></p>
                        </div>
                        <div class="b-footer-top_contact-b email">
                            <p class="key">Электронная почта</p>
                            <a href="mailto:info@darito.ru" class="val">info@darito.ru</a>
                        </div>
                        <div class="b-footer-top_contact-b adress">
                            <p class="key">Наш адрес</p>
                            <p class="val">ш. Энтузиастов, д.56, стр.32</p>
                            <a href="#" class="map-link">Схема проезда</a>
                        </div>
                        <div class="b-footer-top_contact-b social">
                            <p class="key">Социальные сети</p>
                            <div class="b-footer_social val">
                                <ul>
                                    <li>
                                        <a href="#" class="telegram"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="whatsapp"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="ok"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="vk"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fb"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="insta"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box_item box_item--auto box_item--subs box_item--0">
                    @@include('subscribe/subscribe-form.tpl.html')
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer-center">
        <div class="container">
            <div class="box">
                <div class="box_item box_item--auto">
                    <div class="b-footer_certificate">
                        <a href="" class="b-footer_certificate-b ">
                            <div class="sprite-icon sprite-icon-ssl"></div>
                            <p>Информация передаётся</p>
                            <p>по защищённому протоколу</p>
                        </a>
                        <a href="assets/img/25772_____.pdf" class="b-footer_certificate-b">
                            <div class="sprite-icon sprite-icon-trade-mark"></div>
                            <p>Зарегистрированный</p>
                            <p>товарный знак</p>
                        </a>
                        <a href="" class="b-footer_certificate-b ">
                            <div class="sprite-icon sprite-icon-medal"></div>
                            <p>Зарегистрирован</p>
                            <p>на портале поставщиков</p>
                        </a>
                    </div>
                </div>
                <div class="box_item b-footer_copyright copyright">2018. Darito – Производство и продажа подарочных
                    книг с
                    доставкой по всему миру.</div>
                <div class="box_item box_item--auto box_item--0">
                    <div class="b-footer_logo">
                        <img src="assets/img/footer/logo_copy.png" alt="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="b-footer-bottom">
        <div class="container">
            <div class="box">
                <div class="box_item box_item--auto">
                    <div class="b-footer_service">
                        <div class="name">ДОСТАВКА</div>
                        <div class="service">
                            <img src="assets/img/footer/dostavka.png" alt="ДОСТАВКА">
                        </div>
                    </div>
                </div>
                <div class="box_item b-footer_divider"></div>
                <div class="box_item box_item--auto">
                    <div class="b-footer_service">
                        <div class="name">ОПЛАТА</div>
                        <div class="service">
                            <img src="assets/img/footer/oplata.png" alt="ОПЛАТА">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END b-footer -->