<div class="footer print-hidden">
  <div class="top b_outer">
    <div class="b_inner">
      <ul class="c_fix">
        <li>

          <a href="#">Категории</a>

          <ul>
            <li>
              <a href="https://darito.ru/catalog/podarochnye_knigi/">Подарочные книги</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/eksklyuzivnye_knigi/">Эксклюзивные книги</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/podarki_i_suveniry/">VIP Подарки</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/podarochnye_knigi/rodoslovnye_knigi/">Родословные книги</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/antikvariat/">Антиквариатные книги</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/eksklyuzivnye_knigi/reprintnye_knigi/">Репринтные книги</a>
            </li>
          </ul>
        </li>
        <li>

          <a href="#">Книги для</a>

          <ul>
            <li>
              <a href="https://darito.ru/catalog/komu/muzhchine/">Мужчины</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/komu/zhenshchine/">Женщины</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/komu/partneru/">Партнёру по бизнесу</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/komu/rukovoditelyu/">Руководителя</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/komu/lyubimym/">Любимым</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/professii/siloviku/">Силовиков</a>
            </li>
            <li>
              <a href="https://darito.ru/catalog/komu/detyam/">Детей</a>
            </li>
          </ul>
        </li>
        <li>

          <a href="#">Наш магазин</a>

          <ul>
            <li>
              <a href="https://darito.ru/anatomiya-knigi">Анатомия книги</a>
            </li>
            <li>
              <a href="https://darito.ru/klub">VIP клуб</a>
            </li>
            <li>
              <a href="https://darito.ru/saveinfo">Защита информации</a>
            </li>
            <li>
              <a href="https://darito.ru/pressa">Пресса о нас</a>
            </li>
            <li>
              <a href="https://darito.ru/blog">Блог</a>
            </li>
          </ul>
        </li>
        <li>

          <a href="#">Услуги</a>

          <ul>
            <li>
              <a href="https://darito.ru/about/">О нас</a>
            </li>
            <li>
              <a href="https://darito.ru/pack/">Упаковка</a>
            </li>
            <li>
              <a href="https://darito.ru/personalizatsiya/">Персонализация</a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="info c_fix">
        <div class="left">
          <img src="./local/templates/darito/include/images/icon5.png" alt="">
        </div>
        <div class="right">
          Мы в соц. сетях:
          <a href="https://www.facebook.com/groups/Darito.ru/" target="_blink" class="social fb"></a>
          <a href="https://www.instagram.com/darito.ru/" target="_blink" class="social ig"></a>
          <a href="http://vk.com/daritoru" class="social vk" target="_blink"></a>
          <a href="http://ok.ru/group/52876617253033" class="social ok" target="_blink"></a>

          <div class="recall email">
            Написать директору
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom b_outer">
    <div class="b_inner">
      <div class="c_fix">
        <div class="left">
          <img src="./local/templates/darito/include/images/icon8.png" alt="">
        </div>
        <div class="right">
          <div class="wrap">
            <a href="javascript:void(0);" class="phone">+7 495 374-70-99</a>



            <a href="mailto:info@darito.ru" class="header_nav-mail">
              <img src="https://darito.ru/local/templates/darito/include/header/svg/email-outline.svg" alt="">
              <span>info@darito.ru</span>
            </a>

            <div class="map">
              Как нас найти:
              <div class="mapOpen">
                Наш адрес
              </div>
            </div>
          </div>
          <div class="copy">
            2005-2018 © Москва, ш. Энтузиастов, д.56, стр.32
          </div>
        </div>
      </div>
    </div>
  </div>
</div>