<div class="guarantees_item @@class">
    <div class="title">
        @@topImg
        @@top
    </div>
    <div class="text">
        @@body
    </div>
    <div class="footer">
        @@link1
        @@link2
        @@link3
    </div>
    <img src="@@bg" class="bg" alt="">
</div>