<!-- BEGIN: b-info -->
<div class="b-info">
    <div class="b-info_block">
        <div class="b-info_list">
            <div class="b-info_item">
                <span class="key">Формат</span>
                <span class="value">220х270 мм</span>
            </div>
            <div class="b-info_item">
                <span class="key">Формат блока</span>
                <span class="value">Средний</span>
            </div>
            <div class="b-info_item">
                <span class="key">Материалы</span>
                <span class="value">Кожа, Шелк</span>
            </div>
            <div class="b-info_item">
                <span class="key">Обрезы</span>
                <span class="value">Золочёный</span>
            </div>
            <div class="b-info_item">
                <span class="key">Страницы</span>
                <span class="value">2672</span>
            </div>
            <div class="b-info_item">
                <span class="key">Иллюстрации</span>
                <span class="value">Иллюстрации</span>
            </div>
            <div class="b-info_item">
                <span class="key">Переплет</span>
                <span class="value">Авторский</span>
            </div>
            <div class="b-info_item">
                <span class="key">Бумага</span>
                <span class="value">Мелованая</span>
            </div>
            <div class="b-info_item">
                <span class="key">Упаковка</span>
                <span class="value">Мешочек</span>
            </div>
            <div class="b-info_item">
                <span class="key">Переплет</span>
                <span class="value">Русский</span>
            </div>
        </div>
        <div class="b-info_footer" style="background: url(assets/img/bug.png) left center no-repeat;">
            <span class="text">Нашли ошибку?</span>
            <a href="#findErrorReport" class="b-info_link callPopup">Сообщите нам</a>
        </div>
        <div id="findErrorReport" class="popupBox" style="display: none;">
            <div class="popup">
                <a href="javascript:;" class="popup_close" onclick="$.fancybox.close();">
                    <img src="./anatomiya-knigi/imgs/ico_close.png" alt="">
                </a>
                <div class="popup_head">
                    <h3 class="popup_title">Нашли ошибку?</h3>
                    <span class="text">Помогите нам стать лучше</span>
                </div>
                <div class="popup_body">
                    <form id="findErrorReportForm" class="form">
                        <div class="feild_wrapper">
                            <textarea name="report" rows="5" placeholder="* Пожалуйста, сообщите какого рода ошибку вы нашли, спасибо!"></textarea>
                            <span class="error_label">Это поле не может быть пустым</span>
                        </div>
                        <div class="feild_wrapper">
                            <span class="error_label">Это поле не может быть пустым</span>
                        </div>
                            <input type="submit" value="Отправить">
                        <!-- <input type="checkbox" id="checkErrorReport" checked>
                        <label for="checkErrorReport">Нажимая кнопку Вы даете согласие на обработку Ваших персональных данных.
                            <a href="#" class="popup_link" target="_blank">Ознакомиться с правилами обработки персональных данных.</a>
                        </label> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="b-info_block b-info_block-card">
        <div class="card card-desc print-hidden">
            <div class="card_header card_header-desc">
                <h4 class="card_title card_title-desc">Скачайте презентацию</h4>
                <img class="card_img" src="assets/img/pdf.png" alt="Card image cap">
            </div>
            <div class="card_body card_body_desc">
                <div class="card_info card_info-desc" style="background: url(assets/img/pdf-file-format-symbol.png) left center no-repeat;">
                    <span class="text">
                        <span class="value bold">2.54 mb</span> .pdf формат</span>
                </div>
            </div>
            <div class="card_footer card_footer-desc">
                <a href="#requestPdf" class="card_link card_link-txt card_link-desc callPopup">
                    <span class="download" style="background: url(assets/img/download-button.png) center center no-repeat"></span>
                    <span class="text bold">Скачать сейчас</span>
                </a>
            </div>
        </div>
        <!-- BEGIN: print-block -->
        <div class="add-to-cart-print">
            @@include('_add-to-cart.html', {"labelClass": "available", "labelText": "В наличии", "price": "600 000", "priceOld": "740 000", "priceDiscount": "140 000"})
        </div>
        <!-- END: print-block -->
        <div id="requestPdf" class="popupBox" style="display: none;">
            <div class="popup">
                <a href="javascript:;" class="popup_close" onclick="$.fancybox.close();">
                    <img src="./anatomiya-knigi/imgs/ico_close.png" alt="">
                </a>
                <div class="popup_head">
                    <h3 class="popup_title">Скачайте презентацию товара</h3>
                    <span class="text">«Футбол, Энциклопедия» в 3 томах</span>
                </div>
                <div class="popup_body">
                    <form id="requestPdfForm">
                        <div class="feild_wrapper">
                            <input type="text" name="name" placeholder="Имя:">
                            <span class="error_label">Это поле не может быть пустым</span>
                        </div>
                        <div class="feild_wrapper">
                            <input type="email" name="email" placeholder="Email:">
                            <span class="error_label">Это поле не может быть пустым</span>
                        </div>
                        <input type="submit" value="Скачать сейчас">
                        <div class="feild_wrapper">
                            <input type="checkbox" id="checkPdf" checked>
                            <label for="checkPdf">Нажимая кнопку Вы даете согласие на обработку Ваших персональных данных.
                                <br>
                                <a href="https://darito.ru/pravila/" class="popup_link" target="_blank">Ознакомиться с правилами обработки персональных данных.</a>
                            </label>
                            <span class="error_label">Это поле не может быть пустым</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: b-info -->