<!-- BEGIN: card-detail -->
<!-- BEGIN: main-block -->
<section class="section section-main print-detail">
    <div class="section_head">
        <div class="container">
            <div class="card_sku">
                <span class="text">Автор</span>
                <span class="value">Аврелий Марк</span>
            </div>
            <div class="card_sku">
                <span class="text">Артикул</span>
                <span class="value">041-0214</span>
            </div>
            <h1 class="section_title print-hidden">
                <span class="text">Издание «Футбол, Энциклопедия»</span>
                <span class="text text-sub">в 3 томах в кожаном переплете с тематическим футляром в мешочке</span>
                <img src="assets/img/arrow-circle-down.png" alt="" class="b-order_infobg">
            </h1>
            <h1 class="section_title section_title-print">
                <span class="text">Издание «Футбол, Энциклопедия»в 3 томах</span>
                <span class="text text-sub">В кожаном переплете с тематическим футляром в мешочке</span>
<!-- BEGIN: print-block -->
<div class="qr-code-print">
    <div class="qr-code-print_text">
        <span>Заказать товар сейчас</span>
        <img src="assets/img/qr-code-arrow.png" alt=""></div>
    <div class="qr-code-print_pic">
        <img src="assets/img/qr-code.png" alt="qr-code.png">
    </div>
</div>
<!-- END: print-block -->
            </h1>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <!-- BEGIN: print-block -->
                <div class="content_block-print">
                    <div class="content_block-print_item"><img src="assets/img/main.png" alt="main.png"></div>
                    <div class="content_block-print_item"><img src="assets/img/main.png" alt="main.png"></div>
                    <div class="content_block-print_item"><img src="assets/img/main.png" alt="main.png"></div>
                </div>
                <!-- END: print-block -->
                <div class="content_block print-hidden">
                    @@include('_main-block.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: main-block -->
<section class="section print-detail">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title section_title--pr-info">
                <span class="text">Информация о товаре</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body section_body--pr-info">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    @@include('_info.html')
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section print-detail">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Описание товара</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    @@include('_desc.html')
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Исполнение</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    @@include('_performance.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BEGIN: Payment and delivery section -->
<section class="section section-bg">
    <div class="section_body">
        <div class="container">
            <div class="content">
                @@include('_payment-delivery.html')
            </div>
        </div>
    </div>
</section>
<!-- END: Payment and delivery section -->
<!-- BEGIN: person gift -->
<section id="personGift" class="section section-gift print-detail">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Персонализировать подарок</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    @@include('_person-gift.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: person gift -->
<!-- BEGIN: gift-for -->
<section class="section">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Этот подарок подходит для</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    <div class="b-tags">
                        <ul class="b-tags_list">
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1020.png) left 10px center no-repeat;">День рождение</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1030.png) left 10px center no-repeat;">Новый год</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1035.png) left 10px center no-repeat;">8 марта</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1036.png) left 10px center no-repeat;">23 февраля</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1037.png) left 10px center no-repeat;">Свадьба</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1038.png) left 10px center no-repeat;">Юбилей</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1039.png) left 10px center no-repeat;">Рождество</a></li>
                            <li class="b-tags_item"><a href="#" class="b-tags_link" style="background: #fafafa url(assets/img/Layer1040.png) left 10px center no-repeat;">Профессиональные</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: gift-for -->
<!-- BEGIN: guarantees -->
<section class="section">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Наши гарантии и помощь</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    <div class="guarantees">
                        <div class="guarantees_block">
                            @@include('_guarantees-item.html', {"topImg": "<img src='assets/img/medal.png' alt=''>", "top": "Гарантия", "body": "Гарантия возврата денежнх средств", "link1": "<a href='#showGuarant' class='guarantees_link modal_toggle'>Посмотреть гарантию</a>", "link2": "", "link3": "", "class": "guarantees_item-guarant", "bg": "assets/img/guarantee-certificate.png"})
                        </div>
                        <div class="guarantees_block">
                            @@include('_guarantees-item.html', {"topImg": "<img src='assets/img/credit-card.png' alt=''>", "top": "кредит", "body": "Покупка в кредит или рассрочка", "link1": "<a href='#showCredit' class='guarantees_link modal_toggle'>Как оформить кредит</a>", "link2": "", "link3": "", "class": "guarantees_item-credit", "bg": "assets/img/invoice.png"})
                        </div>
                        <div class="guarantees_block">
                            @@include('_guarantees-item.html', {"topImg": "", "top": "Есть вопросы?", "body": "Задать вопрос специалисту", "link1": "<a href='#' class='guarantees_link'><img src='assets/img/soc-twitter.png' alt=''></a>", "link2": "<a href='#' class='guarantees_link'><img src='assets/img/soc-viber.png' alt=''></a>", "link3": "<a href='#' class='guarantees_link'><img src='assets/img/soc-whats-up.png' alt=''></a>", "class": "guarantees_item-info", "bg": "assets/img/support.png"})
                        </div>
                        <div id="showCredit" class="popupBox popupBox-info" style="display: none;">
                            <div class="popup">
                                <a href="javascript:;" class="popup_close" onclick="$.fancybox.close();">
                                    <img src="./anatomiya-knigi/imgs/ico_close.png" alt="">
                                </a>
                                <div class="popup_head">
                                    <h3 class="popup_title">Покупка в кредит</h3>
                                </div>
                                <div class="popup_body">
                                    <p class="text">Любой товар на нашем сайте Вы можете приобрести в кредит через нашего партнера «Банк Тинькофф». 5 простых шагов:</p>
                                    <ul class="list">
                                        <li class="list_item">Оформить заказ на сайте и выбрать способ оплаты «Кредит»</li>
                                        <li class="list_item">Оформить заказ на сайте и выбрать способ оплаты «Кредит»</li>
                                        <li class="list_item">Оформить заказ на сайте и выбрать способ оплаты «Кредит»</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="showGuarant" class="popupBox popupBox-info" style="display: none;">
                            <div class="popup">
                                <a href="javascript:;" class="popup_close" onclick="$.fancybox.close();">
                                    <img src="./anatomiya-knigi/imgs/ico_close.png" alt="">
                                </a>
                                <div class="popup_head">
                                    <h3 class="popup_title">
                                        <img src="assets/img/safe-zone.png" alt="">
                                        <span class="text">Гарантия возврата денежных средств</span>
                                    </h3>
                                </div>
                                <div class="popup_body">
                                    <p class="text">Любой товар на нашем сайте Вы можете приобрести в кредит через нашего партнера «Банк Тинькофф». 5 простых шагов:</p>
                                    <ul class="list">
                                        <li class="list_item">Оформить заказ на сайте и выбрать способ оплаты «Кредит»</li>
                                        <li class="list_item">Оформить заказ на сайте и выбрать способ оплаты «Кредит»</li>
                                        <li class="list_item">Оформить заказ на сайте и выбрать способ оплаты «Кредит». <a href="#" class="popup_link">Порядок возврата</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: guarantees -->
<!-- BEGIN: person -->
<section class="section">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Персона</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    @@include('_person.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: person -->
<section class="section">
    <div class="section_head">
        <div class="container">
            <h3 class="section_title">
                <span class="text">Похожие товары</span>
                <div class="line"></div>
            </h3>
        </div>
    </div>
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block">
                    @@include('_related-products.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BEGIN: advantages -->
<section class="section">
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block content_block-adv">
                    @@include('_advantages.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: advantages -->
<!-- BEGIN: bonus -->
<section class="section section-bg">
    <div class="section_body">
        <div class="container">
            <div class="content">
                <div class="content_block content_block-bonus">
                    @@include('_bonus.html')
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: bonus -->
<!-- BEGIN: print-block -->
<div class="footer-pr print-detail">
    <div class="container">
        <div class="footer-pr_wrap">
            <div class="footer-pr_block">
                <p>Москва, ш. Энтузиастов, д.56, стр.32</p>
            </div>
            <div class="footer-pr_block footer-pr_block--tagline"><img src="assets/img/home-tree.png" alt="img">
                <p>Берегите деревья,<br> используйте вторую сторону бумаги</p>
            </div>
        </div>
    </div>
</div>
<!-- END: print-block -->
@@include('_add-to-cart.html', {"labelClass": "check hidden", "labelText": "уточняйте у менеджера", "price": "10 600 000", "priceOld": "10 740 000", "priceDiscount": "140 000"})
@@include('_add-to-cart.html', {"labelClass": "order hidden", "labelText": "Изготавливаем под заказ", "price": "60 000", "priceOld": "74 000", "priceDiscount": "14 000"})
@@include('_add-to-cart.html', {"labelClass": "disabled hidden", "labelText": "нет в наличии", "price": "6000", "priceOld": "7 400", "priceDiscount": "1 400"})

@@include('_bonus-item.html', {"class": "3 hidden", "title": "Электронная библиотека «101 лучших книг для руководителя»", "text": "Текст на баннере спросить у Рената", "img": "assets/img/bonus-3.png"})
@@include('_bonus-item.html', {"class": "4 hidden", "title": "Как ухаживать за книгой?", "text": "Текст на баннере спросить у Рената", "img": "assets/img/bonus-4.png"})
<!-- END: card-detail -->