<div class="b-main">
    <div class="b-main_slider">
        <div class="b-main_block b-main_block-aside">
            <div class="slider-aside">
                <div class="slider-aside_item active"><img src="assets/img/main.png" alt="img"></div>
                <div class="slider-aside_item"><img src="assets/img/main-2.png" alt="img"></div>
                <div class="slider-aside_item"><img src="assets/img/main-3.png" alt="img"></div>
                <div class="slider-aside_item"><img src="assets/img/main-4.png" alt="img"></div>
            </div>
            <a class="various fancybox.iframe" href="https://www.youtube.com/embed/LT5AqXnFgws?autoplay=1" title="Посмотреть видеопрезентацию товара">
            <img src="assets/img/video-icon.png" alt="video-icon">
            <p class="text text-md">Видео презентация</p>
            <p class="text text-sm">Видео-презентация товара</p>
        </a>
        </div>
        <div class="b-main_block b-main_block-main">
            <a href="#" class="zoom"><i class="fa fa-search" aria-hidden="true"></i></a>
            <div class="slider-main">
                <div class="slider-main_item slider-zoom-photo"><img src="assets/img/main.png" data-large="assets/img/main.png" alt="img"></div>
                <div class="slider-main_item slider-zoom-photo"><img src="assets/img/main-2.png" data-large="assets/img/main-2.png" alt="img"></div>
                <div class="slider-main_item slider-zoom-photo"><img src="assets/img/main-3.png" data-large="assets/img/main-3.png" alt="img"></div>
                <div class="slider-main_item slider-zoom-photo"><img src="assets/img/main-4.png" data-large="assets/img/main-4.png" alt="img"></div>
            </div>
            <a href="#" class="review_link"><img src="assets/img/arrow-circle.png" alt=""><span class="b-main_link">Загляните внутрь</span></a>
        </div>
    </div>
    <div class="b-main_info">
        <div class="b-main_cart">
            @@include('_add-to-cart.html', {"labelClass": "available", "labelText": "В наличии", "price": "600 000", "priceOld": "740 000", "priceDiscount": "140 000"})
        </div>
        <div class="b-main_review">
            <div class="rating">
                <div class="rating_empty">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="rating_select">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </div>
            </div>
            <span class="text">Более <a href="#" class="b-main_link">1700 отзывов</a></span>
        </div>
        <div class="b-main_network">
            <span class="text">Поделитесь находкой с друзьями:</span>
            <ul class="social">
                <li class="social_item">
                    <a href="#" class="social_link">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="social_item">
                    <a href="#" class="social_link">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li class="social_item">
                    <a href="#" class="social_link">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="social_item">
                    <a href="#" class="social_link">
                        <i class="fa fa-vk"></i>
                    </a>
                </li>
                <li class="social_item">
                    <a href="#" class="social_link">
                        <i class="fa fa-odnoklassniki-square"></i>
                    </a>
                </li>
                <li class="social_item">
                    <a href="#requestReview" class="social_link social_link-envelope modal_toggle" style="background: url(assets/img/envelope.png) center center no-repeat; background-size: contain;">
                    </a>
                </li>
            </ul>
        </div>
        
        <div id="requestReview" class="popupBox" style="display: none;">
                <div class="popup">
                    <a href="javascript:;" class="popup_close" onclick="$.fancybox.close();">
                        <img src="./anatomiya-knigi/imgs/ico_close.png" alt="">
                    </a>
                    <div class="popup_head">
                        <h3 class="popup_title">Отправить другу ссылку на товар</h3>
                        <span class="text"></span>
                    </div>
                    <div class="popup_body">
                        <form id="requestReviewForm">
                            <div class="feild_wrapper">
                                <input type="text" name="name" placeholder="Имя отправителя">
                                <span class="error_label">Это поле не может быть пустым</span>
                            </div>
                            <div class="feild_wrapper">
                                <input type="email" name="email" placeholder="Email (кому отправляем):">
                                <span class="error_label">Это поле не может быть пустым</span>
                            </div>
                            <div class="feild_wrapper feild_wrapper-text">
                                <input type="text" name="theme" value="Нашел подаро на Darito.ru">
                                <span class="error_label">Это поле не может быть пустым</span>
                            </div>
                            <div class="feild_wrapper feild_wrapper-text">
                                <textarea name="text" rows="4">Привет, посмотри какой подарок мне понравился на Darito.ru: https://darito.ru/sdvsdvs/sdvsdvsdv/sdvsdvsdvsd/sdvsdvsdv/</textarea>
                                <span class="error_label">Это поле не может быть пустым</span>
                            </div>
                            <input type="submit" value="Отправить">
                        </form>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="preview-wrap"></div>
</div>