<!-- BEGIN: Payment and delivery -->
<div class="content_block content_block-left">
    <div class="delivery">
        <div class="delivery_head">
            <h3 class="section_title">
                <span class="text">Доставка этого товара</span>
            </h3>
        </div>
        <div class="delivery_body">
            <div class="delivery_list">
                <div class="delivery_item">
                    <div class="delivery_icon" style="background: url(assets/img/checked-blue.png) left center no-repeat; background-size: contain;"></div>
                    <span class="text">Ваш город</span>
                    <a href="#" class="b-info_link value">Екатеринбург</a>
                </div>
                <div class="delivery_item">
                    <div class="delivery_icon" style="background: url(assets/img/clock-circular-outline.png) left center no-repeat; background-size: contain;"></div>
                    <span class="text">Доставка займет</span>
                    <span class="value">4 дня</span>
                    <span class="reference">*</span>
                </div>
                <div class="delivery_item">
                    <div class="delivery_icon" style="background: url(assets/img/delivery-truck2.png) left center no-repeat; background-size: contain;"></div>
                    <span class="text">Стоимость доставки</span>
                    <span class="value">1450 руб</span>
                    <span class="reference">*</span>
                </div>
            </div>
            <div class="delivery_list delivery_list-options">
                <div class="delivery_item">
                    <img src="assets/img/part3.png" alt="part1.png">
                </div>
                <div class="delivery_item">
                    <img src="assets/img/part1.png" alt="part1.png">
                </div>
                <div class="delivery_item">
                    <img src="assets/img/part2.png" alt="part1.png">
                </div>
                <div class="delivery_item">
                    <img src="assets/img/part4.png" alt="part1.png">
                </div>
                <div class="delivery_item">
                    <img src="assets/img/3.png" alt="part1.png">
                </div>
                <div class="delivery_item">
                    <img src="assets/img/1494997420_specsvyaz.png" alt="1494997420_specsvyaz.png">
                </div>
            </div>
        </div>
        <div class="delivery_foot">
            <span class="reference">* Стоимость и время доставки указаны справочно</span>
        </div>
    </div>
</div>
<div class="content_block content_block-right">
    <div class="payment">
        <div class="payment_block">
            <h3 class="section_title">
                <span class="text">Оплатить онлайн сейчас</span>
                <div class="payment_label">
                    <span class="price_block price_block-discount" style="background: url(assets/img/discount.png) center center no-repeat;">-3%</span>
                    <span class="text">Скидка</span>
                </div>
            </h3>
            <div class="payment_list delivery_list-options">
                <div class="payment_item">
                    <img src="assets/img/2000px-Mastercard-logo.png" alt="" class="payment_img">
                </div>
                <div class="payment_item">
                    <img src="assets/img/pay-6.png" alt="" class="payment_img">
                </div>
                <div class="payment_item">
                    <img src="assets/img/pay-1.png" alt="" class="payment_img">
                </div>
                <div class="payment_item">
                    <img src="assets/img/pay-2.png" alt="" class="payment_img">
                </div>
                <div class="payment_item">
                    <img src="assets/img/pay-4.png" alt="" class="payment_img">
                </div>
                <div class="payment_item">
                    <img src="assets/img/pay-5.png" alt="" class="payment_img">
                </div>
            </div>
        </div>
        <div class="payment_block">
            <h3 class="section_title">
                <span class="text">Оплата при получении</span>
            </h3>
            <div class="payment_list">
                <div class="payment_item payment_item-get">
                    <img class="payment_icon" src="assets/img/wallet.png" alt="" class="payment_img">
                    <span class="text">Наличными при получении</span>
                </div>
                <div class="payment_item payment_item-get">
                    <img class="payment_icon" src="assets/img/card.png" alt="" class="payment_img">
                    <span class="text">Картой при получении</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Payment and delivery -->