<div class="person">
    <div class="person_block person_block-img">
        <img src="assets/img/Marcus Aurelius Antoninus01.png" alt="Marcus Aurelius Antoninus01">
    </div>
    <div class="person_block person_block-info">
        <div class="person_title">
            <div class="person_form">
                <h3 class="person_name">Аврелий Марк</h3>
                <span class="person_birth">Дата рождения: <span class="value">26 апреля 121г.</span></span>
            </div>
            <div class="person_refs">
                <a href="#" class="person_ref">Все книги этой персоны</a>
                <a href="#" class="person_ref"><img src="assets/img/worldwide.png" alt=""><span class="text">wiki.darito</span></a>
            </div>
        </div>
        <div class="person_info desc_wrap-text">
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe omnis similique explicabo. Fugiat quos labore
                quis, deserunt repellendus repudiandae magnam.</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolores sapiente quo expedita libero voluptas eligendi
                consequatur. Soluta quis quaerat quibusdam ipsam dolorem accusantium aliquid eum facilis vel. Iure cum assumenda
                optio soluta, libero velit nihil nam saepe atque doloribus.</p>
            <p class="text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, corporis veniam optio nemo eos eius velit quas
                doloremque repudiandae nulla.</p>
        </div>
        <a href="#" class="desc_link desc_link-full">
            <span class="text">Читать далее</span>
            <span class="text hidden">Скрыть</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </a>
    </div>
</div>