<!-- BEGIN: performance -->
<div class="desc">
    <div class="desc_block desc_block-text">
        <div class="desc_wrap">
            <span class="desc_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem autem assumenda natus! Suscipit, vel sequi. Asperiores
                earum, doloremque omnis neque rem quos reprehenderit molestiae fugiat, commodi libero quo cumque deleniti.</span>
            <span class="desc_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae quaerat sapiente
                est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae voluptates
                eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae
                quaerat sapiente est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae
                voluptates eius?</span>
            <span class="desc_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quam rem, sapiente officiis dolores cumque est
                eligendi. Fugiat ut fugit delectus, ea laboriosam nobis sint similique reiciendis numquam cum dolor? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore ratione fugiat recusandae quaerat sapiente
                est nemo quae. Et voluptate ipsam excepturi asperiores! Maxime veniam accusamus, id repudiandae voluptates
                eius?
            </span>
        </div>
    </div>
    <div class="desc_block desc_block-card">
        <div class="card card-desc">
            <div class="card_header card_header-performance">
                <h4 class="card_title card_title-desc">Анатомия книги</h4>
                <span class="text italic">Узнайте все о создании книг</span>
                <img class="card_img card_img-performance" src="assets/img/anatomy.png" alt="Card image cap">
            </div>
            <div class="card_footer">
                <a href="#" target="_blank" class="card_link card_link-performance">
                    <span class="text bold">Узнать подробнее</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END: performance -->