<div class="b-personal-greeting">
    <div class="personal-greeting_list">
        <div class="personal-greeting_item">
            <div class="personal-greeting__image js-click-modal">
                <img src="assets/img/personal-greeting.png" alt="">
            </div>
            <input type="checkbox" class="hide_checkbox js-checkbox-modal" id="checkbox-item-1" name="certificate-item_checkbox">
            <label for="checkbox-item-1" class="personal-greeting__label checkbox-default">
                <div class="personal-greeting__name">
                    
                    Сертификат
                <div class="personal-greeting__value">+500
                    <span class="rubl">a</span>
                </div>
                </div>
            </label>
            <div class="personal-greeting__hide-text">
                <p class="deadline">СРОК ВЫПОЛНЕНИЯ:
                    <span>1 час</span>
                </p>
                Тут будет продающий текст о сертификате при наведении, а по клику открывается баннер.
            </div>
        </div>
        <div class="personal-greeting_item">
            <div class="personal-greeting__image js-click-modal">
                <img src="assets/img/personal-greeting(2).png" alt="">
            </div>
            <input type="checkbox" class="hide_checkbox" id="checkbox-item-2">
            <label for="checkbox-item-2" class="personal-greeting__label checkbox-default">
                <div class="personal-greeting__name">
                    
                    Вклейка листа
                <div class="personal-greeting__value">+1000
                    <span class="rubl">a</span>
                </div>
                </div>
            </label>
            <div class="personal-greeting__hide-text">
                <p class="deadline">СРОК ВЫПОЛНЕНИЯ:
                    <span>1 час</span>
                </p>
                Тут будет продающий текст о сертификате при наведении, а по клику открывается баннер.
            </div>
        </div>
        <div class="personal-greeting_item">
            <div class="personal-greeting__image js-click-modal">
                <img src="http://edu-html.dev-bitrix.by/Leonchik_R/full-project/darito.ru(1)/assets/img/engraving.png" alt="">
            </div>
            <input type="checkbox" class="hide_checkbox" id="checkbox-item-3">
            <label for="checkbox-item-3" class="personal-greeting__label checkbox-default">
                <div class="personal-greeting__name">
                    
                    Гравировка
                <div class="personal-greeting__value">+1000
                    <span class="rubl">a</span>
                </div>
                </div>
            </label>
            <div class="personal-greeting__hide-text">
                <p class="deadline">СРОК ВЫПОЛНЕНИЯ:
                    <span>1 час</span>
                </p>
                Тут будет продающий текст о сертификате при наведении, а по клику открывается баннер.
            </div>
        </div>
        <div class="personal-greeting_item">
            <div class="personal-greeting__image js-click-modal">
                <img src="http://edu-html.dev-bitrix.by/Leonchik_R/full-project/darito.ru(1)/assets/img/pouch.png" alt="">
            </div>
            <input type="checkbox" class="hide_checkbox" id="checkbox-item-4">
            <label for="checkbox-item-4" class="personal-greeting__label checkbox-default">
                <div class="personal-greeting__name">
                    
                    Бархотный мешочек
                <div class="personal-greeting__value">+700
                    <span class="rubl">a</span>
                </div>
                </div>
            </label>
            <div class="personal-greeting__hide-text">
                <p class="deadline">СРОК ВЫПОЛНЕНИЯ:
                    <span>1 час</span>
                </p>
                Тут будет продающий текст о сертификате при наведении, а по клику открывается баннер.
            </div>
        </div>
    </div>
    <div class="b-choose-personalization">
        <img src="assets/img/point-personalization.png" alt=""> Выберите вариант персонализации
    </div>
</div>
<!--Block image modal-->
<div class="b-image-modal" style="display: none;">
    <a class="modal-close_btn" href="javascript:;" onclick="$.fancybox.close();">
        <img src="assets/img/modal-close_btn.png" alt="">
    </a>
    <div class="modal-caption">Вкладываемый сертификат <span>+500<span class="rubl">a</span></span></div>
    <p>Какиe бывают виды вклейки листов?</p>
    <div class="image-modal_list">
        <div class="image-modal_item">
            <div class="image-modal_item-img">
                <img src="assets/img/image-modal_item-1.png" alt="">
            </div>
            Печать персонализованного сертификата на холсте.
        </div>
        <div class="image-modal_item">
            <div class="image-modal_item-img">
                <img src="assets/img/image-modal_item-2.png" alt="">
            </div>
            Печать персонализованного  сертификата на дизайнерской бумаге.
        </div>
        <div class="image-modal_item">
            <div class="image-modal_item-img">
                <img src="assets/img/image-modal_item-1.png" alt="">
            </div>
            Печать персонализованного сертификата на холсте.
        </div>
        <div class="image-modal_item">
            <div class="image-modal_item-img">
                <img src="assets/img/image-modal_item-2.png" alt="">
            </div>
            Печать персонализованного  сертификата на дизайнерской бумаге.
        </div>
    </div>
    <div class="image-modal_btn">
        <input class="add-certificate_checkbox js-checkbox-modal" id="add-certificate" type="checkbox" name="certificate-item_checkbox">
        <label class="add-certificate_label" for="add-certificate">Вкладывать сертификат</label>
    </div>
</div>