/* BEGIN: add-to-cart */

.addtocart {
    border-radius: 2px;
    box-shadow: 1.4px 2.6px 18px rgba(0, 0, 0, 0.16);
    &_cart {
        position: relative;
        font-size: 0px;
        text-align: center;
        background-color: #fff;
        border: 5.07px solid #ffcd36;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding-top: 25px;
    }
    &_prices {
        position: relative;
        padding-right: 40px;
    }
    &_price {
        display: inline-block;
        vertical-align: baseline;
        margin-bottom: 20px;
        &:not(:first-child) {
            margin-left: 15px;
        }
        &-cur {
            color: #49607b;
            font-family: 'Gilroy Bold';
            font-size: 24px;
            font-weight: 700;
        }
        &-old,
        &-dis {
            color: #7e8890;
            font-size: 12px;
            font-weight: 500;
            .value {
                font-size: 14px;
            }
        }
        &-old {
            .value {
                text-decoration: line-through;
            }
        }
        &-label {
            position: absolute;
            top: 0px;
            right: -20px;
            color: white;
            font-family: 'Gilroy Bold';
            font-size: 16px;
            font-weight: 700;
            line-height: 1;
            background-color: #ff2020;
            box-shadow: 1.4px 2.6px 9px rgba(0, 0, 0, 0.33);
            border-radius: 3px;
            padding: 6px 8px;
            &::before {
                position: absolute;
                content: '';
                top: 0px;
                left: -13px;
                width: 0;
                height: 0;
                border-top: 14px solid transparent;
                border-right: 14px solid #ff2020;
                border-bottom: 14px solid transparent;
            }
            &::after {
                position: absolute;
                content: '';
                top: 12px;
                left: -6px;
                width: 4px;
                height: 4px;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
    &_btn {
        display: inline-block;
        vertical-align: top;
        border-radius: 26px;
        box-shadow: 1.4px 2.6px 9px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
        &:not(:last-child) {
            margin-right: 24px;
        }
        &-add {
            position: relative;
            max-width: 195px;
            height: 52px;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            background-color: #ffcd36;
            padding: 0px 28px;
            transition: 0.3s;
            text-align: left;
            img,
            span {
                vertical-align: middle;
            }
            img {
                margin-right: 13px;
            }
            &-active {
                color: #fff;
                background-color: #07b023;
            }
            .text {
                display: inline-block;
                &-sm {
                    font-size: 14px;
                }
            }
        }
        &wrap {
            display: flex;
            align-items: center;
            height: 100%;
        }
        &-fav {
            color: #59a6b9;
            font-size: 12px;
            font-weight: 500;
            background-color: #fafafa;
            padding: 10px 15px;
            transition: 0.3s;
            .fa {
                font-size: 18px;
                margin-bottom: 3px;
            }
            &-active {
                color: #e2af14;
            }
        }
    }
    &_label {
        position: absolute;
        top: 0px;
        left: 28px;
        transform: translate(0, -50%);
        font-family: 'Gilroy Bold';
        font-size: 12px;
        font-weight: 700;
        line-height: 19px;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 0px 8px;
        &-available {
            color: #fff;
            background-color: #07b023;
        }
        &-check {
            color: #7e8890;
            background-color: #e0e0e0;
        }
        &-order {
            color: #fff;
            background-color: #58a6b9;
        }
        &-disabled {
            color: #fff;
            background-color: #353535;
        }
    }
    &_credit {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        background-color: #f0f0f0;
        padding: 13px;
        a {
            display: inline-block;
            color: #000;
            background-color: #ffcd36;
            border-radius: 3px;
            padding: 3px 6px;
        }
    }
    &_props {
        background-color: #fff;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 30px 25px 20px;
    }
    &_prop {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        min-height: 30px;
        color: #41576e;
        overflow: hidden;
        margin-bottom: 20px;
        .text {
            color: #41576e;
            margin-right: 5px;
        }
        .value {
            color: #59a6b9;
        }
    }
    &_propimg {
        width: 100%;
        max-width: 45px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
}

.tooltip {
    position: absolute;
    top: -20px;
    left: 0px;
    transform: translate(0, -100%);
    display: flex;
    width: 305px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3.3px 6.2px 21px rgba(0, 0, 0, 0.17);
    padding: 14px;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10;
    &::after {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 25px;
        width: 0;
        height: 0;
        border-top: 10px solid #fff;
        border-right: 14px solid transparent;
        border-left: 14px solid transparent;
    }
    &_title {
        color: #07b023;
        font-family: 'Gilroy Bold';
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        text-transform: none;
        margin-bottom: 8px;
    }
    &_text {
        color: #69748c;
        font-size: 14px;
        font-weight: 500;
        text-transform: none;
    }
    &-active {
        opacity: 1;
    }
}

/* END: add-to-cart */