.content_block-adv {
    display: flex;
    flex-wrap: wrap;
    .section_title {        
        margin-bottom: 55px;
    }
    .slick-dots li button {
        width: 13px;
        height: 13px;
        background-color: #fafafa;
        border: 1.22px solid $main;
        border-radius: 50%;
        &::before {
            display: none;
        }
    }
    .slick-dots li.slick-active button {
        background-color: $main;
    }
}

.advantages,
.review {
    flex: 0 0 auto;
}

.advantages {
    width: 100%;
    max-width: 51.2%;
    &_block {
        margin-bottom: 55px;
    }
}

.advantage {
    text-align: center;
    &_head {
        position: relative;
        height: 120px;
        margin-bottom: 25px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
    &_title {
        color: #49617b;
        font-family: 'Gilroy Bold';
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    &_text {
        font-size: 14px;
        font-weight: 500;
    }
}

.slider-adv {
    position: relative;
    &_prev,
    &_next {
        position: absolute;
        top: 20%;
        width: 19px;
        height: 36px;
        cursor: pointer;
        z-index: 10;
    }
    &_prev {
        left: -19px;
    }
    &_next {
        right: 0px;
    }
}

.review {
    flex: 1 0 auto;
    width: 100%;
    max-width: 48.8%;
    padding-left: 6vmin;
    &_block {
        margin-bottom: 55px;
    }
    &_list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &_item {
        flex: 0 0 auto;
        margin-bottom: 35px;
    }
    &_post {
        position: relative;
        display: block;
        width: 230px;
        height: 140px;
        margin: 0 auto;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    }
    &_link {
        display: block;
        max-width: 230px;
        color: #59a6b9;
        font-family: Georgia;
        font-size: 16px;
        font-style: italic;
        margin: 0 auto;
    }
}