/* BEGIN: bonus-item */

.b-bonus {
    flex: 0 0 auto;
    width: auto;

    &_item {
        position: relative;
        width: 359px;
        border-radius: 3px;
        box-shadow: 1.9px 3.5px 13px rgba(14, 112, 165, 0.26);
        padding: 25px 90px 25px 20px;
        margin-bottom: 24px;

        &::before {
            position: absolute;
            content: '';
            top: 25px;
            left: -13px;
            width: 0;
            height: 0;
            border-top: 14px solid transparent;
            border-bottom: 14px solid transparent;
        }

        img {
            position: absolute;
        }

        &-1 {
            color: #fff;
            background-image: linear-gradient(58deg, #0c78b0 0%, #366491 100%);

            &::before {
                border-right: 14px solid #1275ab;
            }

            img {
                width: 137px;
                height: 136px;
                bottom: 25px;
                right: -30px;
            }
        }

        &-2 {
            color: #000;
            background-image: linear-gradient(-14deg, #ed9b26 0%, #fcd662 100%);

            &::before {
                border-right: 14px solid #fcd662;
            }

            .b-bonus_itemimg {
                position: absolute;
                width: 123px;
                height: 100%;
                top: 0px;
                right: 0px;
                overflow: hidden;

                img {
                    top: 20px;
                    right: -140px;
                }
            }
        }

        &-3 {
            color: #fff;
            background-image: linear-gradient(68deg, #e68a1d 0%, #9e4814 100%);

            &::before {
                border-right: 14px solid #df841c;
            }

            img {
                top: 50%;
                right: -25px;
                transform: translate(0, -50%);
            }
        }

        &-4 {
            color: #fff;
            background-image: linear-gradient(-14deg, #066704 0%, #00c400 100%);

            &::before {
                border-right: 14px solid #00c400;
            }

            img {
                bottom: 0px;
                right: -15px;
            }
        }
    }

    &_info {
        height: 120px;
        overflow: hidden;
    }

    &_title,
    &_text {
        line-height: 1.2;
        margin-bottom: 13px;
        padding-right: 30px;
        overflow: hidden;
    }

    &_title {
        font-family: Georgia;
        font-size: 18px;
        font-weight: 400;
    }

    &_text {
        font-size: 14px;
        font-weight: 500;
    }

    &_purchase {
        color: #000;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 1.9px 3.5px 13px rgba(0, 0, 0, 0.11);
        padding: 10px;

        &-sm {
            display: none;
        }
    }

    &_title,
    &_text,
    &_purchase {
        position: relative;
        z-index: 1;
    }
}

/* END: bonus-item */

/*new bonus item*/
.b-bonus {
    &_item {
        &-new {
            background: #3d4291;
            background: -moz-linear-gradient(left, rgba(61, 66, 145, 1) 0%, rgba(99, 102, 197, 1) 54%, rgba(112, 115, 214, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61, 66, 145, 1)), color-stop(54%, rgba(99, 102, 197, 1)), color-stop(100%, rgba(112, 115, 214, 1)));
            background: -webkit-linear-gradient(left, rgba(61, 66, 145, 1) 0%, rgba(99, 102, 197, 1) 54%, rgba(112, 115, 214, 1) 100%);
            background: -o-linear-gradient(left, rgba(61, 66, 145, 1) 0%, rgba(99, 102, 197, 1) 54%, rgba(112, 115, 214, 1) 100%);
            background: -ms-linear-gradient(left, rgba(61, 66, 145, 1) 0%, rgba(99, 102, 197, 1) 54%, rgba(112, 115, 214, 1) 100%);
            background: linear-gradient(to right, rgba(61, 66, 145, 1) 0%, rgba(99, 102, 197, 1) 54%, rgba(112, 115, 214, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d4291', endColorstr='#7073d6', GradientType=1);
            padding-right: 105px;
            &::before {
                border-right: 14px solid #3d4291;
            }

            .b-bonus_title,
            .b-bonus_purchase {
                font-family: "Gilroy Medium";
                font-weight: 600;
                color: #ffffff;
                font-size: 18px;
                text-align: left;
                background-color: transparent;
                border-radius: 0;
                box-shadow: none;
                padding: 0;
            }

            .b-bonus_purchase {
                position: relative;

                &::after {
                    position: absolute;
                    top: 0;
                    right: -40px;
                    content: '';
                    width: 40px;
                    height: 40px;
                    background: url(../img/arrow-new.png) center / contain no-repeat;
                }
            }

            img {
                width: 275px;
                height: 220px;
                bottom: -10px;
                right: -100px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .b-bonus_purchase-sm{
        margin-top: 10px;
        &::after {
        display: none;
    }}
}