/* BEGIN: bonus */

/* BEGIN: order */

.b-order {
    flex: 1 0 0;
    margin-right: 30px;
    &_block {
        display: flex;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 1.9px 3.5px 13px rgba(0, 0, 0, 0.06);
        padding: 40px 40px 55px 20px;
    }
    &_img {
        flex: 0 0 auto;
        width: 100%;
        max-width: 311px;
        height: 316px;
        text-align: center;
        margin-right: 25px;
        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: top;
        }
    }
    &_info {
        position: relative;
        &bg {
            position: absolute;
            top: 35px;
            right: -20px;
        }
    }
    &_title {
        color: #41576e;
        font-family: Georgia;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
        padding-right: 35px;
    }
    &_desc {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
        padding-right: 35px;
    }
    .addtocart_props {
        display: none;
    }
}

/* END: order */

@import "addtocart";
@import "bonus-item";

/* END: bonus */