/* BEGIN: confirm-of-reg */
.confirm-of-reg {
    padding: 90px 0;

    &_heading {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    &_title {
        position: relative;
        color: #383f5a;
        font-family: Georgia;
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 30px;
        padding-left: 55px;

        &::before {
            position: absolute;
            top: 7px;
            left: 0px;
            width: 25px;
            height: 19px;
            content: '';
            background: url(../img/confirm-of-reg/quote-sign.png) center center no-repeat;
        }
    }

    &_text {
        position: relative;
        color: #7e8890;
        font-family: Georgia;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 35px;
        padding-left: 55px;

        &::before {
            position: absolute;
            top: 0px;
            left: 12px;
            width: 1px;
            height: 100%;
            content: '';
            background-color: rgb(0, 0, 0);
            opacity: 0.102;
        }

        &::after {
            position: absolute;
            top: 30px;
            right: -63px;
            width: 65px;
            height: 60px;
            content: '';
            background: url(../img/confirm-of-reg/arrow-down-blue.png) center center no-repeat;
        }
    }

    &_signature {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 55px;


        &-img {
            position: relative;
            padding-right: 40px;
            padding-bottom: 3px;
            margin-right: 10px;

            .signature {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .name {
            color: #485661;
            font-family: Georgia;
            font-size: 18px;
            font-weight: 400;
            line-height: 14px;
            margin-bottom: 10px;
        }

        .position {
            color: #7e8890;
            font-family: Helvetica;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
        }
    }

    &_body {
        display: flex;
        flex-wrap: wrap;
        margin-left: -17px;
        margin-right: -17px;
    }

    &_bonus {
        flex: 1 1 auto;
        width: 100%;
        max-width: 50%;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 50px;
    }

    .card_link-desc {
        background: #5fafc3;
        transition: all 0.3s;
        &:hover {
            background: #71cbe2;
        }
    }

}

.bonus {
    position: relative;
    min-height: 238px;
    border-radius: 4px;
    padding: 30px;

    &--1 {
        background-image: linear-gradient(36deg, #59a6b9 0%, #63c0d7 100%);
    }

    &--2 {
        background-image: linear-gradient(36deg, #49607b 0%, #4d6d92 100%);
    }

    &_heading {
        opacity: 0.36;
        color: black;
        font-family: Georgia;
        font-size: 72px;
        font-weight: 400;
        line-height: 34px;
        margin-bottom: 35px;
    }

    &_body {
        color: #ffffff;
        font-family: Georgia;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 13px;
    }

    &_footer {
        opacity: 0.8;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }

    &_heading,
    &_body,
    &_footer {
        max-width: 210px;
    }

    &_img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 50%;
        height: 301px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .card_link-desc {
        width: 155px;
        margin: 0;

        .download {
            border: none;
            padding: 17px;
        }

        .text {
            text-transform: initial;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 0;
        }
    }
}

/* END: confirm-of-reg */