/* BEGIN: desc-perform */

.desc {
    display: flex;
    align-items: flex-start;
    &_block {
        flex: 1 0 0;
        max-width: 100%;
        &-card {
            flex: 0 0 auto;
            width: auto;
            margin-right: 40px;
        }
        &-text {
            padding-right: 8%;
        }
    }
    &_wrap {
        &-text {
            max-height: 300px;
            overflow: hidden;
            &.desc_wrap-text-full {
                max-height: none;
            }
        }
    }
    &_text {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &_link {
        display: inline-block;
        color: $main;
        &-full {
            font-family: "Gilroy Bold";
            font-size: 16px;
            font-weight: 700;
            margin-top: 30px;
            .text {
                margin-right: 15px;
            }
            .fa {
                transform: scaleY(1.5);
            }
        }
    }
}

.download {
    display: inline-block;
    border-right: 1px solid rgba($color: #293338, $alpha: 0.1);
    padding: 20px 25px;
}

/* END: desc-perform */