/* BEGIN: b-footer */
$grid-gutter-width: 70px;
$columns: 2;

.box {
    display: flex;
    flex-wrap: wrap;
    margin-right: ($grid-gutter-width / -2);
    margin-left: ($grid-gutter-width / -2);

    &_item {
        position: relative;
        width: 100%;
        flex: 1 1 0;
        max-width: 100%;
        min-height: 1px; // Prevent collapsing
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);

        &--auto {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
    }
}

.b-footer {
    color: #ffffff;
    background-color: #49607b;

    a {
        transition: all 0.3s;
    }
    .phone {
        .val {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &_logo {
        width: 152px;
        height: 32px;
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &_social {
        max-width: 128px;

        a {
            display: block;
            width: 28px;
            height: 29px;
            background: url(../img/footer/6-layers.png) center no-repeat;
            background-color: rgba($color: #fff, $alpha: 0.31);
            border-radius: 50%;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            margin-right: (22px / -2);
            margin-left: (22px / -2);
            padding-top: 15px;

            li {
                position: relative;
                width: 100%;
                flex: 0 0 (100% / 3);
                max-width: (100% / 3);
                min-height: 1px; // Prevent collapsing
                padding-right: (22px / 2);
                padding-left: (22px / 2);
                margin-bottom: 12px;
            }
        }

        .telegram {
            background-position: 4px 6px;
        }

        .whatsapp {
            background-position: -46px 6px;
        }

        .ok {
            background-position: -95px 6px;
        }

        .vk {
            background-position: 4px -34px;
        }

        .fb {
            background-position: -45px -34px;
        }

        .insta {
            background-position: -96px -34px;
        }
    }

    &-top {
        background-color: #49607b;
        padding: 45px 0;

        .box {
            &_item {
                &--subs {
                    position: relative;
                    top: -66px;
                }
            }
        }

        .title {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1.8px;
            margin-bottom: 12px;
        }

        &_info {
            display: flex;
            flex-wrap: wrap;
            margin-right: ($grid-gutter-width / -2);
            margin-left: ($grid-gutter-width / -2);

            ul {
                li {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 30px;

                    a {
                        color: #ffffff;
                        opacity: 0.75;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &_list {
            position: relative;
            width: 100%;
            flex: 0 0 (100% / $columns);
            max-width: (100% / $columns);
            min-height: 1px; // Prevent collapsing
            padding-right: ($grid-gutter-width / 2);
            padding-left: ($grid-gutter-width / 2);
            margin-bottom: 25px;
        }

        &_contact {
            &-b {
                margin-bottom: 20px;
            }

            .key {
                opacity: 0.7;
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
            }

            .val {
                color: #ffffff;
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;

                &--lg,
                &--lg a {
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            a {
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                line-height: 20px;
            }

            .map-link {
                background: url(../img/footer/map-pin.png) left center no-repeat;
                padding-left: 26px;
            }
        }
    }

    &-center {
        background-color: rgba($color: #000000, $alpha: 0.11);
        padding: 21px 0;

        .box {
            align-items: center;
        }
    }

    &_certificate {
        &-b {
            position: relative;
            display: inline-block;
            vertical-align: top;
            color: #ffffff;
            font-size: 10px;
            font-weight: 500;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
            border-radius: 100px;
            border: 1px solid #707070;
            background-color: rgba($color: #fff, $alpha: 0.15);
            padding: 6px 16px 6px 37px;

            &:hover {
                border: 1px solid #707070;
            }

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    &_copyright {
        opacity: 0.7;
        color: #ffffff;
        font-size: 10px;
        font-weight: 500;
    }

    &-bottom {
        background-color: #ffffff;
        padding: 12px 0;
        //footer bottom box gutter
        $grid-gutter-width30: 10px;

        .box {
            margin-right: ($grid-gutter-width30 / -2);
            margin-left: ($grid-gutter-width30 / -2);

            &_item {
                padding-right: ($grid-gutter-width30 / 2);
                padding-left: ($grid-gutter-width30 / 2);
            }
        }
    }

    &_service {
        display: table;

        &>* {
            display: table-cell;
            vertical-align: middle;
        }

        .name {
            color: #7e8890;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1.2px;
            padding-right: 20px;
        }

        .service {
            img {
                vertical-align: middle;
            }
        }
    }

    &_divider {
        position: relative;

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            width: 1px;
            height: 44%;
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
}
.copyright {
    position: relative;
    &::before {
        content: "\00A9";
        margin-right: 2px;
    }
}
.sprite-icon {
    position: absolute;

    &-medal {
        background-image: url(../img/footer/sprite.png);
        background-position: -27px 0px;
        width: 24px;
        height: 23px;
        left: 5px;
        top: 5px;
    }

    &-ssl {
        background-image: url(../img/footer/sprite.png);
        background-position: 0px 0px;
        width: 27px;
        height: 27px;
        left: 4px;
        top: 2px;
    }

    &-trade-mark {
        background-image: url(../img/footer/sprite.png);
        background-position: 0px -27px;
        width: 23px;
        height: 23px;
        left: 5px;
        top: 5px;
    }
}

/* END: b-footer */