/* BEGIN: footer-new-media */
@media screen and (max-width: 1100px) {
    %block {
        display: block;
    }

    .b-footer {
        .box_item {
            order: 1;

            &--subs {
                width: 100%;
                max-width: 100%;
            }

            &--0 {
                order: 0;
            }
        }

        .container {
            max-width: 720px;
        }

        &_certificate {
            &-b {
                width: 34px;
                height: 34px;
                padding: 0;

                p {
                    display: none;
                }

                .sprite-icon {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &_divider {
            display: none;
        }

        &_service {
            @extend %block;

            &>* {
                @extend %block;
                text-align: center;
            }

            .name {
                padding-right: 0;
            }
        }

        &-bottom {
            .container {
                max-width: 480px;
            }

            .box {
                @extend %block;
            }

            .service {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .subscription {
        width: auto;

        &_b {
            max-width: 480px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    $grid-gutter-width: 10px;
    $columns: 2;

    .b-footer {
        .container {
            max-width: 480px;
            padding: 0 20px;
        }

        &_logo {
            width: 121px;
            height: 26px;
            margin-right: 15px;
        }

        &-top {
            padding: 0;

            .box_item {
                flex: 1 1 auto;
                width: 100%;

                &--subs {
                    top: -21px;
                    margin-bottom: 10px;
                }
            }

            &_info {
                margin-right: ($grid-gutter-width / -2);
                margin-left: ($grid-gutter-width / -2);
            }

            &_list {
                padding-right: ($grid-gutter-width / 2);
                padding-left: ($grid-gutter-width / 2);

                .title {
                    margin-bottom: 15px;
                }

                ul {
                    li {
                        line-height: 24px;

                        a {
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }

            }

            &_contact {
                display: flex;
                flex-wrap: wrap;
                margin-right: ($grid-gutter-width / -2);
                margin-left: ($grid-gutter-width / -2);

                .title {
                    display: none;
                }

                .val {
                    font-size: 14px;
                    line-height: 20px;

                    &+.val {
                        margin-top: 10px;
                    }

                    &--lg,
                    &--lg a {
                        font-size: 18px;
                    }
                }

                &-b {
                    position: relative;
                    width: 100%;
                    flex: 0 0 (100% / $columns);
                    max-width: (100% / $columns);
                    min-height: 1px; // Prevent collapsing
                    padding-right: ($grid-gutter-width / 2);
                    padding-left: ($grid-gutter-width / 2);

                    &:last-child() {
                        margin-bottom: 0;
                    }

                    .key {
                        margin-bottom: 10px;
                    }

                    &.adress,
                    &.social {
                        flex: 1 1 auto;
                        max-width: 100%;
                    }

                    &.social {
                        .key {
                            display: none;
                        }
                    }

                    &.adress {
                        margin-right: ($grid-gutter-width / -2);
                        margin-left: ($grid-gutter-width / -2);

                        .val,
                        .key {
                            padding-right: ($grid-gutter-width / 2);
                            padding-left: ($grid-gutter-width / 2);
                        }

                        .val,
                        .map-link {
                            display: inline-block;
                            vertical-align: top;
                            width: 100%;
                            max-width: ((100% / $columns) - 1);
                        }

                        .val {
                            padding-right: ($grid-gutter-width / 2);
                            padding-left: ($grid-gutter-width / 2);
                        }

                        .map-link {
                            background-position: left 10px center;
                            padding-left: 30px;
                            padding-right: ($grid-gutter-width / 2);
                            margin-top: 5px;
                        }
                    }
                }
            }
        }

        &-center {
            .box {
                justify-content: center;
                margin-right: ($grid-gutter-width / -2);
                margin-left: ($grid-gutter-width / -2);

                &_item {
                    padding-right: ($grid-gutter-width / 2);
                    padding-left: ($grid-gutter-width / 2);
                }
            }
        }

        &_copyright {
            flex: none;
            text-align: center;
            margin-top: 20px;
        }

        &_social {
            max-width: none;

            ul {
                justify-content: center;

                li {
                    width: auto;
                    flex: 0 1 auto;
                    max-width: none;
                }
            }
        }
    }

    .subscription {
        &_title {
            font-size: 24px;
        }

        &_h {
            padding: 15px 22px;

            p {
                font-size: 16px;
            }
        }

        &_b {
            padding: 15px 22px;
        }

        form {
            label {
                padding: 1px 5px 5px 20px;
            }

            input[type=checkbox]+label:before {
                top: 3px;
                width: 15px;
                height: 15px;
            }

            input[type=checkbox]+label:after {
                top: 6px;
                left: 2px;
            }
        }
    }
}
@media screen and (max-width: 340px) {
    .b-footer .phone .val,
    .b-footer .phone .val a {
        font-size: 16px;
    }
}
/* END: footer-new-media */