/* BEGIN: info */

.b-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &_list {
        display: flex;
        flex-flow: row wrap;
    }
    &_item {
        display: flex;
        flex-flow: column;
        flex: 0 0 auto;
        width: 100%;
        max-width: 25%;
        margin-bottom: 30px;
        span {
            display: block;
        }
        .key {
            color: $mainSub;
            font-family: "Gilroy Bold";
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .value {
            font-size: 16px;
            line-height: 14px;
        }
    }
    &_footer {
        display: flex;
        align-items: center;
        height: 19px;
        padding-left: 35px;
        .text {
            margin-right: 5px;
        }
    }
    &_link {
        font-size: 16px;
        font-weight: 500;
        color: $main;
        text-decoration: underline;
        &:hover {
            text-decoration: underline;
        }
    }
    &_block {
        flex: 1 0 0;
        max-width: 100%;
        &-card {
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
    }
}

/* END: info */