/* BEGIN: main-block */

.section-main {
    a {
        text-decoration: dashed;
    }
    .card_sku {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 30px;
        }
        .text {
            font-size: 12px;
            margin-right: 17px;
        }
        .value {
            font-size: 14px;
        }
    }
    .section_title {
        position: relative;
        padding-right: 160px;
        .text {
            display: block;
            width: 100%;
            color: #41576e;
            font-family: Georgia;
            font-size: 44px;
            font-weight: 400;
            padding-right: 0px;
            margin-bottom: 10px;
            &-sub {
                color: #7e8890;
                font-family: 'Gilroy Medium';
                font-size: 16px;
                font-weight: 500;
            }
        }
        .b-order_infobg {
            top: 20px;
            right: 100px;
        }
        &.section_title-print {
            display: none;
        }
    }
}

.zoom {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    font-size: 17px;
    font-weight: 100;
    color: #59a6b9;
    background-color: white;
    border: 1.22px solid #ebebeb;
    border-radius: 3px;
    padding: 7px;
    z-index: 1;
    &:hover {
        border: 1.22px solid #ebebeb;
    }
}

.preview-wrap {
    visibility: hidden;
    position: absolute;
    top: -5px;
    right: 0;
    width: 44.6vmin;
    height: 58.4vmin;
    max-width: 420px;
    max-height: 550px;
    border: 1px solid #d3d3d3;
    box-shadow: 1.4px 2.6px 18px rgba(0, 0, 0, 0.16);
    background-color: white;
    z-index: 10;
    transition: 0.5s;
    &.active {
        visibility: visible;
    }
}

.slider {
    &-aside {
        margin-bottom: 20px;
        &_prev,
        &_next {
            display: block;
            width: 14px;
            height: 8px;
            background-position: center center;
            background-repeat: no-repeat;
            margin: 0 auto;
        }
        &_prev {
            background-image: url(../img/arrow-point-to-up.png);
        }
        &_next {
            background-image: url(../img/arrow-point-to-down.png);
        }
        &_item.slick-slide {
            position: relative;
            height: 112px;
            background-color: #fff;
            border: 1.22px solid #f1f1f1;
            border-radius: 2px;
            margin: 5px 0px;
            &.active {
                border: 1.22px solid #59a6b9;
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            width: 90%;
        }
        .slick-dots li button:before {
            top: auto;
            bottom: 0px;
            width: 100%;
            height: 3px;
            content: '';
            background-color: #eee;
            opacity: 1;
            transition: 0.3s;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            background-color: $main;
        }
        .slick-dots {
            display: flex;
            width: auto;
            bottom: -13px;
            left: -5px;
            right: -5px;
            li {
                margin: 0px 5px;
            }
        }
        .slick-dots li,
        .slick-dots li button {
            width: 100%;
            height: 100%;
            padding: 0px;
        }
        .slick-list {
            padding: 0!important;
        }
    }
    &-main {
        margin-bottom: 20px;
        &_item {
            height: 470px;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
        }
    }
}

.b-main {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .slick-slide:focus {
        outline: none;
    }
    &_block {
        position: relative;
        display: inline-block;
        vertical-align: top;
        &-aside {
            width: 112px;
            .various {
                position: relative;
                display: block;
                color: #59a6b9;
                font-family: 'Gilroy Bold';
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                .text-sm {
                    display: none;
                }
            }
        }
        &-main {
            text-align: center;
            width: calc(100% - 112px);
        }
    }
    &_slider {
        font-size: 0px;
        width: 58%;
        max-width: 690px;
    }
    &_info {
        width: 38%;
        max-width: 361px;
        margin-left: auto;
    }
    &_cart {
        margin-bottom: 20px;
    }
    &_review {
        text-align: center;
        margin-bottom: 20px;
        .text {
            font-size: 14px;
            font-weight: 500;
        }
    }
    &_network {
        text-align: center;
        .text {
            display: inline-block;
            margin-bottom: 10px;
        }
    }
    &_link {
        display: inline-block;
        color: #59a6b9;
        border-bottom: 1px dashed #59a6b9;
    }
}

.social {
    font-size: 0px;
    &_item {
        display: inline-block;
        font-size: 17px;
        vertical-align: top;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    &_link {
        display: block;
        color: #7e8890;
        &-envelope {
            width: 22px;
            height: 18px;
        }
    }
}

.rating {
    position: relative;
    display: inline-block;
    height: 14px;
    font-size: 14px;
    color: #ffcd36;
    white-space: nowrap;
    margin-right: 10px;
    &_select {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 92%;
        overflow: hidden;
    }
}

.popupBox .popup .feild_wrapper-text {
    input,
    textarea {
        color: #41576e;
        font-family: 'Gilroy Medium';
        font-size: 16px;
        font-weight: 500;
    }
    textarea {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* END: main-block */