/* BEGIN: media */

@media screen and (max-width: 1199px) {
    .delivery_list-options {
        flex-wrap: wrap;
    }
    .review_list {
        display: block;
    }
    .content_block-bonus {
        flex-wrap: wrap;
    }
    .b-order {
        flex: 0 0 auto;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .b-order_block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .b-order_img {
        max-width: none;
        margin-bottom: 35px;
        margin-right: 0px;
    }
    .b-bonus {
        flex: 0 0 auto;
        width: 100%;
        &_block {
            display: flex;
            justify-content: center;
        }
        &_item {
            margin-right: 30px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
    .preview-wrap {
        width: 40%;
        max-width: 361px;
    }
}

@media screen and (max-width: 991px) {
    .related {
        max-width: 720px;
        margin: 0 auto;
    }
    .related_item {
        flex: 0 0 50%;
        width: 100%;
        max-width: 50%;
    }
    .card_slider .slick-dots {
        height: auto;
    }
    .guarantees_block {
        flex: 1 0 auto;
        width: 100%;
        max-width: none;
        vertical-align: top;
        padding: 0px 15px;
        margin-bottom: 15px;
    }
    .guarantees_item {
        max-width: 296px;
        margin: 0 auto;
        padding: 23px 90px 23px 15px;
        .bg {
            right: 15px;
            ;
        }
        .title {
            margin-bottom: 15px;
        }
    }
    .guarantees_link {
        font-size: 14px;
        text-decoration: underline;
    }
    .guarantees_item-guarant .guarantees_link,
    .guarantees_item-credit .guarantees_link {
        &:last-child {
            padding-right: 0px;
        }
        &::after {
            display: none;
        }
    }
    .confirm-of-reg {
        padding: 30px 0;
    }
    .confirm-of-reg_signature::after {
        display: none;
    }
    .confirm-of-reg_bonus {
        max-width: none;
        margin-bottom: 20px;
    }
    .bonus {
        max-width: 554px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .section_head {
        margin-bottom: 25px;
    }
    .section_title {
        font-size: 20px;
        .text {
            padding-right: 25px;
        }
    }
    .section_body {
        margin-bottom: 40px;
    }
    .desc_block-card {
        display: none;
    }
    .desc_block-text {
        padding-right: 0px;
    }
    .b-info_item {
        max-width: 33.33%;
        .key {
            font-size: 10px;
        }
        .value {
            font-size: 14px;
        }
    }
    .desc_wrap-text {
        max-height: 287px;
        &-full {
            max-height: none;
        }
    }
    .desc_text {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .desc_link-full {
        margin-top: 15px;
    }
    .b-info_footer {
        display: none;
    }
    .section-bg {
        padding: 44px 0px 0px;
    }
    .section-bg .content {
        flex-wrap: wrap;
        margin-left: 0px;
        margin-right: 0px;
    }
    .section-bg .content_block {
        flex: 1 0 auto;
        justify-content: center;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-bg .section_title {
        padding-right: 0px;
        .text {
            max-width: none;
        }
    }
    .delivery_item {
        font-size: 16px;
        .value {
            font-size: 16px;
        }
    }
    .delivery_list-options {
        max-width: 221px;
        padding: 10px 0px 5px;
        .delivery_item {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 10px;
            img {
                width: 100%;
            }
        }
        .delivery_item:not(:last-child) {
            margin-right: 0px;
        }
        .payment_item {
            height: 22px;
        }
    }
    .payment .delivery_list-options {
        padding-left: 13px;
        .payment_item:not(:last-child) {
            margin-right: 14px;
        }
    }
    .payment_item {
        margin-right: 20px;
        &-get {
            font-size: 14px;
            .text {
                max-width: 100px;
            }
        }
    }
    .person_info {
        max-height: 180px;
        font-size: 14px;
    }
    .person_name {
        font-size: 16px;
    }
    .advantages,
    .review {
        max-width: none;
    }
    .review {
        padding-left: 0px;
    }
    .b-order_block {
        padding: 25px 0px 0px 0px;
    }
    .addtocart_credit,
    .addtocart_price-label,
    .b-order_infobg {
        display: none;
    }
    .b-order_title {
        font-size: 20px;
    }
    .b-order_desc {
        font-size: 14px;
    }
    .b-order_title,
    .b-order_desc {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
    }
    .addtocart_prices {
        padding-right: 0px;
    }
    .addtocart_price {
        text-align: left;
    }
    .addtocart_price-cur {
        font-size: 20px;
    }
    .addtocart_btn-add {
        height: 37px;
        font-size: 14px;
        padding: 0px 20px;
        img {
            width: 18px;
            height: 16px;
            margin-right: 7px;
        }
    }
    .addtocart_btn-fav {
        font-size: 11px;
        padding: 3px 15px 6px;
        .fa {
            font-size: 14px;
        }
    }
    .addtocart_btn:not(:last-child) {
        margin-right: 19px;
    }
    .b-bonus_block {
        display: block;
    }
    .b-bonus_item {
        width: 100%;
        max-width: 296px;
        margin: 0 auto 20px;
        padding: 20px 90px 20px 15px;
        overflow: hidden;
        &:last-child {
            margin: 0 auto 20px;
        }
        &::before {
            display: none;
        }
    }
    .b-bonus_title {
        font-size: 16px;
    }
    .b-bonus_title,
    .b-bonus_text {
        padding-right: 10px;
        margin-bottom: 10px;
    }
    .b-bonus_purchase {
        display: none;
        &-sm {
            display: inline-block;
        }
    }
    .review_block {
        margin-bottom: 0px;
    }
    .b-main_slider {
        width: 100%;
        max-width: none;
        margin-bottom: 40px;
    }
    .b-main_block-aside,
    .b-main_info {
        display: block;
        width: 100%;
    }.b-main_info {
        max-width: none;
    }
    .b-main_block-aside,
    .b-main_cart,
    .b-main_review,
    .b-main_network {
        max-width: 296px;
        margin-left: auto;
        margin-right: auto;
    }
    .b-main_block-main {
        display: none;
    }
    .slider-aside img {
        width: auto;
    }
    .slider-aside_item.slick-slide.active,
    .slider-aside_item.slick-slide {
        border: none;
    }
    .slider-aside_item.slick-slide {
        height: 298px;
    }
    .b-main_block-aside .various {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 15px;
        }
        .text-md {
            display: none;
        }
        .text-sm {
            display: block;
            text-transform: none;
            font-size: 14px;
        }
    }
    .section-main {
        .card_sku {
            display: block;
            margin-right: 0px;
            .text {
                font-size: 10px;
                margin-right: 10px;
            }
            .value {
                font-size: 12px;
            }
        }
        .section_title {
            padding-right: 0px;
            .text {
                font-size: 24px;
                &-sub {
                    font-size: 16px;
                }
            }
        }
    }
    .b-main_cart .addtocart_credit {
        display: block;
        font-size: 12px;
    }
    .b-main_review .text,
    .b-main_network .text {
        font-size: 12px;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_link-envelope {
            width: auto;
            height: 26px;
        }
    }
    .social_item {
        width: 26%;
        font-size: 27px;
        margin-bottom: 20px;
    }
    .social_item:not(:last-child) {
        margin-right: 0px;
    }
    .b-outer {
        display: none;
    }
    .breadcrumb {
        margin-top: 20px;
        margin-bottom: 5px;
        &_item {
            font-size: 12px;
            margin-bottom: 10px;
            a {
                font-size: 12px;
            }
        }
    }
    .breadcrumb_item:not(:last-child)::after {
        top: 3.5px;
    }
}

@media screen and (max-width: 576px) {
    .related {
        max-width: 298px;
    }
    .related_item {
        flex: 0 0 auto;
        width: 100%;
        max-width: none;
        padding: 0;
        margin-bottom: 30px;
    }
    .section_title .text {
        padding-right: 20px;
    }
    .b-info_item {
        max-width: 50%;
    }
    .popupBox {
        width: auto;
    }
    .section-bg .content_block {
        justify-content: flex-start;
    }
    .person_refs {
        display: none;
    }
    .person {
        display: block;
    }
    .person_block-img {
        float: left;
        width: 135px;
        height: 146px;
        margin-bottom: 20px;
    }
    .person_info {
        clear: both;
    }
    .content_block-adv .section_title {
        margin-bottom: 35px;
    }
    .image-modal_item, .personal-area__form {
        width: 100%;
    }
    .image-modal_item-img {
        height: 180px;
    }

    .image-modal_btn .add-certificate_label {
        padding: 10px;
        span {
            margin-right: 10px;
        }
        &::after {
            display: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .b-info_block {
        flex-basis: auto;
        width: 100%;
    }
    .card-desc {
        position: relative;
        max-width: none;
        padding: 16px 12px 50px;
        margin-bottom: 30px;
    }
    .card_title-desc {
        font-size: 16px;
        padding: 0px;
        text-align: left;
    }
    .card_info-desc .text {
        font-size: 12px;
    }
    .card_header-desc .card_img {
        position: absolute;
        top: -14px;
        left: 5px;
        width: 127px;
        height: 117px;
    }
    .card_footer-desc {
        position: absolute;
        width: 100%;
        left: 50%;
        bottom: -21px;
        transform: translate(-50%, 0);
        padding: 0px;
    }
    .card_link-desc {
        margin-bottom: 0px;
    }
    .card_body_desc,
    .card_header-desc {
        text-align: left;
        padding: 0 0 0 50%;
    }
    .card_info-desc {
        padding-left: 20px;
    }
    .confirm-of-reg_bonus {
        padding-top: 0;
    }
    .confirm-of-reg_title {
        font-size: 20px;
        &::before {
            top: 0;
        }
    }
    .confirm-of-reg_text {
        font-size: 14px;
    }
    .confirm-of-reg_signature-info {
        text-align: center;
    }
    .confirm-of-reg_signature-img {
        margin-bottom: 10px;
    }
    .bonus_heading, .bonus_body, .bonus_footer {
        max-width: none;
    }
    .bonus_heading {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .bonus_body {
        font-size: 20px;
    }
    .bonus {
        padding: 20px;
    }
    .bonus_img {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}

/* END: media */