/* BEGIN: Payment and delivery */

.section-bg {
    padding: 70px 0 30px;
    margin-bottom: 60px;
    .section_body {
        margin-bottom: 0px;
    }
    .content {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        &_block {
            display: flex;
            flex: 1 0 0;
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 30px;
            img {
                vertical-align: middle;
            }
            &-left {
                justify-content: flex-start;
            }
            &-right {
                justify-content: flex-end;
            }
        }
    }
    .section_title {
        line-height: 30px;
        margin-bottom: 25px;
    }
}

.delivery {
    &_head {
        background: url(../img/delivery-truck.png) left top no-repeat;
        padding-left: 70px;
    }
    &_body {
        margin-bottom: 20px;
    }
    &_list {
        &-options {
            font-size: 0px;
            background-color: white;
            border-radius: 3px;
            padding: 14px 14px 9px;
            .delivery_item:not(:last-child) {
                margin-right: 5px;
            }
            .delivery_item {
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }
    &_item {
        font-size: 18px;
        margin-bottom: 20px;
        .value {
            color: $main;
            font-size: 18px;
            font-weight: 500;
        }
        .text {
            font-weight: 500;
        }
    }
    &_icon {
        display: inline-block;
        width: 30px;
        height: 14px;
        vertical-align: baseline;
    }
}

.reference {
    color: #F43D3C;
}

.payment {
    &_block {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &_item {
        display: inline-block;
        vertical-align: top;
        margin-right: 5.5vmin;
        &:last-child {
            margin-right: 0px;
        }
        .text {
            display: inline-block;
            max-width: 115px;
            vertical-align: top;
        }
    }
    &_img {
        height: 100%;
    }
    &_icon {
        vertical-align: top;
        margin-right: 10px;
    }
    .delivery_list-options {
        .payment_item:not(:last-child) {
            margin-right: 18px;
            margin-bottom: 5px;
        }
        .payment_item:last-child {
            margin-right: 0px;
            margin-bottom: 5px;
        }
    }
}

/* BEGIN: 08-08-18 */

.payment_label {
    font-size: 0px;
    white-space: nowrap;
    span {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0px;
    }
    .text {
        color: #58a6b9;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
    }
}
.section_title {
    flex-wrap: wrap;
}
/* END: 08-08-18 */

/* END: Payment and delivery */