/* BEGIN: person */

.person {
    display: flex;
    align-items: flex-start;
    font-size: 0px;
    &_block {
        flex: 0 0 auto;
        &-img {
            width: 234px;
            height: 250px;
            text-align: center;
            margin-right: 6vmin;
            overflow: hidden;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-info {
            flex: 1 0 0;
        }
    }
    &_title {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    &_form {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            left: 0px;
            bottom: 0px;
            display: block;
            width: 26px;
            height: 2px;
            opacity: 0.35;
            background-color: black;
            border-radius: 1px;
        }
    }
    &_name {
        color: #49617b;
        font-family: 'Gilroy Bold';
        font-size: 18px;
        font-weight: 700;
        line-height: 14px;
        margin-bottom: 10px;
    }
    &_birth {
        display: inline-block;
        color: #7e8890;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        padding-bottom: 15px;
        .value {
            white-space: nowrap;
        }
    }
    &_ref {
        display: inline-block;
        height: 39px;
        color: #59a6b9;
        font-size: 16px;
        font-weight: 500;
        line-height: 37px;
        text-align: center;
        vertical-align: top;
        border: 1.22px solid #59a6b9;
        border-radius: 3px;
        padding: 0px 20px;
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
        &:hover {
            border: 1.22px solid #59a6b9;
        }
        img,
        span {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
        }
        img {
            margin-right: 5px;
        }
    }
    &_form,
    &_ref {
        margin-bottom: 15px;
    }
    &_info {
        max-height: 110px;
        color: #7e8890;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        .text {
            margin-bottom: 15px;
        }
    }
    .desc_link-full {
        margin-top: 20px;
    }
}

/* END: person */