/* BEGIN: popup-box */

.popupBox {
    width: 426px;
    overflow: hidden;
    * {
        box-sizing: border-box;
    }
    .popup {
        position: relative;
        padding: 15px 15px 0px;
        &_close {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        &_head {
            text-align: center;
            margin-bottom: 40px;
            .text {
                color: $text;
                font-size: 16px;
                font-weight: 500;
            }
        }
        &_title {
            color: $mainSub;
            font-family: "Gilroy Bold";
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &_body {
            form {
                display: flex;
                flex-flow: column nowrap;
            }
            input,
            textarea {
                width: 100%;
                color: #8f8f8f;
                font-family: "Gilroy Regular";
                font-size: 16px;
                font-weight: 400;
                border: 1.22px solid #e5e5e5;
                border-radius: 4px;
                padding: 20px;
                margin-bottom: 15px;
                resize: none;
                &[type=submit] {
                    display: inline-block;
                    color: #fff;
                    font-family: "Gilroy Bold";
                    font-size: 18px;
                    font-weight: 700;
                    background-image: linear-gradient(to top, #5198a9 0%, #5fafc3 100%);
                    border-radius: 27px;
                    box-shadow: 1.4px 2.6px 18px rgba(89, 166, 185, 0.59);
                    border: none;
                    padding: 12px 39px;
                    margin-left: auto;
                    margin-right: auto;
                }
                &[type=checkbox] {
                    &+label {
                        font-size: 12px;
                        font-weight: 500;
                        color: #7e8890;
                        margin-bottom: 15px;
                        &:before {
                            // width: 16px;
                            // height: 16px;
                            // border-color: #559fb1;
                            // border-radius: 3px;
                            // box-shadow: 0.9px 1.8px 6px rgba(85, 159, 177, 0.46);
                        }
                    }
                    &+label {
                        &::after {
                            // top: 4px;
                            // left: 4px;
                            // height: 9px;
                            // background: url(../img/checked.png) center center no-repeat;
                        }
                    }
                    &:checked {
                        &+label {
                            &::before {
                                // background-color: #559fb1;
                            }
                        }
                    }
                    &:checked {
                        &+label {
                            &::after {
                                // width: 9px;
                            }
                        }
                    }
                }
            }
            input[type=submit] {
                width: auto;
            }
        }
        &_link {
            color: #59a6b9;
            text-decoration: underline;
        }
    }
    .list {
        counter-reset: list 0;
        &_item {
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            &::before {
                position: absolute;
                top: 0px;
                left: 0px;
                display: block;
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                counter-increment: list;
                content: counter(list);
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                background-color: #559fb1;
                border-radius: 50%;
            }
        }
    }
    .text,
    .list {
        color: #7e8890;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
    .text {
        margin-bottom: 35px;
    }
    &-info {
        .popup {
            &_head {
                text-align: left;
                margin-bottom: 0px;
            }
            &_title {
                display: table;
                img {
                    display: table-cell;
                    vertical-align: top;
                    max-width: 47px;
                    max-height: 47px;
                    margin-right: 22px;
                }
                .text {
                    display: table-cell;
                    vertical-align: top;
                    color: #41576e;
                    font-family: 'Gilroy Bold';
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
    }
}

/* END: popup-box */