/* BEGIN: print */
@media print {
    * {
        -webkit-print-color-adjust: exact;
    }

    html {
        zoom: 50%;
    }

    [class*='-print'],
    .footer-pr,
    .section-main .section_title.section_title-print {
        display: block;
    }

    .section_title-print {
        position: relative;
    }

    .wrapper>*:not(.print-detail),
    .print-hidden {
        display: none;
    }

    .header-print {
        &_wrapper {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #41576e;
            padding-bottom: 30px;
        }

        &_info {
            text-align: right;
        }

        &_phone {
            color: #383f5a;
            font-family: 'Gilroy Bold';
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &_link,
        &_mail {
            display: inline-block;
            color: #59a6b9;
            font-family: 'Gilroy Bold';
            font-size: 18px;
            font-weight: 700;

            &:not(:first-child) {
                margin-left: 32px;
            }
        }
    }

    .qr-code-print {
        position: absolute;
        top: -110px;
        right: -15px;
        max-width: 154px;
        z-index: 10;

        &_text {
            color: #59a6b9;
            font-family: Georgia;
            font-size: 16px;
            font-style: italic;
            padding: 0 11px;

            img {
                position: absolute;
                top: 5px;
                right: -5px;
            }
        }

        &_pic {
            img {}
        }
    }

    .b-breadcrumbs.print-detail {
        margin-bottom: 25px;
    }

    .content_block-print {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;

        &_item {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            width: calc(33.33% - 30px);
            height: 361px;
            border: 1.22px solid #f1f1f1;
            border-radius: 2px;
            padding: 10px;
            margin-left: 15px;
            margin-right: 15px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .add-to-cart-print {
        position: relative;
        top: -70px;
        width: 260px;

        .addtocart_btns,
        .addtocart_credit {
            display: none;
        }

        .addtocart {
            box-shadow: none;
        }

        .addtocart_cart {
            box-shadow: 1.4px 2.6px 18px rgba(0, 0, 0, 0.16);

        }

        .personal-gift-link {
            color: #41576e;
            text-decoration: none;
            border-bottom: none;
        }

        .addtocart_props {
            padding: 30px 0px 0px;
        }
    }

    .desc_wrap-text {
        max-height: none;
    }

    .desc_link-full,
    .b-info_footer {
        display: none;
    }

    .b-info_item {
        max-width: 33.33%;
    }

    .section_title--pr-info {
        width: 72%;
    }

    .section_body--pr-info {
        margin-bottom: 0;
    }

    .section-gift .personal-greeting_item {
        width: 22.5%;
    }

    .section-gift .personal-greeting__hide-text,
    .section-gift .personal-greeting__hide-text:hover {
        display: none
    }

    .section-gift .b-choose-personalization {
        display: none;
    }

    .section-gift .hide_checkbox+.personal-greeting__label.checkbox-default:before,
    .add-certificate_checkbox+.add-certificate_label:before {
        display: none;
    }

    .section-gift .personal-greeting__name {
        text-align: left;
        padding: 15px 10px;
        color: #7e8890;
    }

    .footer-pr {
        &_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_block {
            flex: 0 0 auto;
            display: flex;
            align-items: center;

            &--tagline {

                img {
                    margin-right: 30px;
                }
            }
        }
    }
}

/* END: print */