/* BEGIN: related-products */

%padding20 {
    padding: 15px;
}

%mainSubColor {
    color: $mainSub;
}

%mainColor {
    color: $main;
}

%textColor {
    color: $text;
}

.related {
    display: flex;
    flex-flow: row wrap;
    margin-right: -1.28%;
    margin-left: -1.28%;
    padding: 35px 0px 0px;
    &_item {
        flex: 0 0 25%;
        width: 100%;
        max-width: 25%;
        padding: 0 1.28%;
        margin-bottom: 2.56%;
        box-sizing: border-box;
    }
}

.card {
    position: relative;
    height: 100%;
    border-radius: 3px;
    &-related {
        display: flex;
        flex-wrap: wrap;
        border: 1.22px solid #eeeeee;
        .card_title {
            margin-bottom: 0px;
            padding-bottom: 10px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical; 
            // &::before {
            //     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
            //     content: '';
            //     height: 18px;
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     width: 100%;
            // }
        }
        .card_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 100%;
            max-width: 100%;
        }
        .card_title {
            height: 50px;
        }
        .card_info {
            height: 65px;
        }
    }
    &-desc {
        max-width: 260px;
        text-align: center;
        background-color: #fafafa;
    }
    &_header {
        @extend %padding20;
        display: block;
        width: 100%;
        height: 250px;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
        &:hover {
            border-bottom: 1px solid #eee;
        }
        &-desc {
            height: auto;
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
            .card_img {
                margin-bottom: -26px;
            }
        }
        &-performance {
            height: auto;
            border-bottom: none;
            &:hover {
                border-bottom: none;
            }
        }
    }
    &_body {
        display: block;
        width: 100%;
        max-height: 155px;
        @extend %padding20;
    }
    &_sku {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        .text {
            @extend %mainSubColor;
            font-family: "Gilroy Bold";
            font-size: 10px;
            text-transform: uppercase;
            margin-right: 7px;
        }
        .value {
            @extend %textColor;
            font-size: 14px;
        }
    }
    &_title {
        @extend %mainSubColor;
        position: relative;
        max-height: 50px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
        overflow: hidden;
        &-desc {
            font-size: 20px;
            font-family: "Gilroy Bold";
            font-weight: 700;
            padding: 0px 10px;
            margin-bottom: 15px;
        }
    }
    &_info {
        .text {
            @extend %textColor;
            display: inline-block;
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            margin-bottom: 5px;
        }
        &-desc {
            display: inline-block;
            height: 21px;
            padding-left: 25px;
            .text {
                font-size: 16px;
                vertical-align: middle;
                margin-bottom: 0px;
            }
        }
    }
    &_footer {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        align-self: flex-end;
        padding: 0 15px 15px;
    }
    &_link {
        display: block;
        flex: 0 0 auto;
        text-align: center;
        border: 1.22px solid $main;
        border-radius: 3px;
        padding: 10px;
        transition: all 0.3s;
        &-txt {
            flex: 1;
            color: #fff;
            font-size: 16px;
            background-color: $main;
            margin-right: 10px;
            &:hover {
                background-color: #559cae;
                border: 1.22px solid $main;
                box-shadow: 2px 3.5px 8px rgba(85, 156, 174, 0.43);
            }
        }
        &-fav {
            width: 39.44px;
            width: 39.44px;
            color: $main;
            &:hover {
                color: #fff;
                background-color: $main;
                border: 1.22px solid $main;
                .fa-star-o {
                    &::before {
                        content: "\f005";
                    }
                }
            }
            &-active {
                color: #ecce06;
                background-color: #eee;
                border: 1.22px solid #eee;
                &:hover {
                    color: #ecce06;
                    background-color: #eee;
                    border: 1.22px solid #eee;
                }
                .fa-star-o {
                    &::before {
                        content: "\f005";
                    }
                }
            }
        }
        &-desc {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            width: auto;
            max-width: none;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            background-image: linear-gradient(to top, #5198a9 0%, #5fafc3 100%);
            border-radius: 20px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 10px;
            padding: 0px;
            .text {
                padding: 10px 30px 10px 15px;
            }
        }
        &-performance {
            display: inline-block;
            color: #fff;
            font-family: "Gilroy Bold";
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            background-image: linear-gradient(to top, #5198a9 0%, #5fafc3 100%);
            background-color: #5fafc3;
            border-radius: 20px;
            padding: 12px 22px;
            margin: 0 auto 10px;
            &:hover {
                background-color: #559cae;
                border: 1.22px solid #59a6b9;
                -webkit-box-shadow: 2px 3.5px 8px rgba(85, 156, 174, 0.43);
                box-shadow: 2px 3.5px 8px rgba(85, 156, 174, 0.43);
            }
        }
    }
    &_img {
        max-height: 100%;
        margin: 0 auto;
        &-performance {
            position: relative;
            transform: translateX(-21%);
        }
    }
    &_slider {
        .slick-dots li button:before {
            top: auto;
            bottom: 0px;
            width: 100%;
            height: 3px;
            content: '';
            background-color: #eee;
            opacity: 1;
            transition: 0.3s;
        }
        .slick-dots li.slick-active button:before {
            opacity: 1;
            background-color: $main;
        }
        .slick-dots {
            display: flex;
            height: 100%;
            width: auto;
            bottom: -13px;
            left: -5px;
            right: -5px;
            li {
                margin: 0px 5px;
            }
        }
        .slick-dots li,
        .slick-dots li button {
            width: 100%;
            height: 100%;
            padding: 0px;
        }
    }
}

.price {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 19px;
    &_block {
        flex: 0 0 auto;
        margin-right: 7px;
        &-disable {
            color: #b2bcc8;
            font-size: 14px;
            text-decoration: line-through;
        }
        &-current {
            @extend %mainSubColor;
            font-size: 16px;
            .fa {
                font-size: 14px;
            }
        }
        &-discount {
            width: 38px;
            height: 19px;
            color: #ffffff;
            font-size: 12px;
            text-align: right;
            line-height: 19px;
            padding-right: 5px;
        }
    }
}

.label {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    top: 15px;
    left: 15px;
    z-index: 10;
    &_item {
        flex: 0 0 auto;
        width: 37px;
        height: 37px;
        margin-right: 7px;
        margin-bottom: 7px;
        &:last-child {
            margin-right: 0px;
        }
        &-video {
            width: 42px;
            height: 50px;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    &-right {
        left: auto;
        right: 15px;
    }
}

.slider {
    &_item {
        height: 204px;
        &:focus {
            outline: none;
        }
    }
    &_info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .text,
        .fa {
            color: $mainSub;
        }
        .fa {
            margin-right: 10px;
        }
    }
}

/* BEGIN: 08-08-18 */

.price_block {
    margin-bottom: 5px;
    &-current {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .rubl {
        margin-left: 5px;
    }
}
.card_body {
    max-height: none;
}
/* END: 08-08-18 */

/* END: related-products */