/* BEGIN: card-detail */

@font-face {
    font-family: "Gilroy Medium";
    src: url('../../local/templates/darito/include/header/css/font/Gilroy-Medium.ttf');
}

@font-face {
    font-family: "Gilroy Bold";
    src: url('../../local/templates/darito/include/header/css/font/Gilroy-Bold.ttf');
}

@font-face {
    font-family: "Gilroy Regular";
    src: url('../../local/templates/darito/include/header/css/font/Gilroy-Regular.ttf');
}

@font-face {
    font-family: "Georgia Italic";
    src: url('../../local/templates/darito/include/header/css/font/Georgia Italic.ttf');
}

@font-face {
    font-family: 'rouble';
    src: url('../../local/templates/darito/include/css/font/rouble-webfont.eot');
    src: url('../../local/templates/darito/include/css/font/rouble-webfont.eot?#iefix') format('embedded-opentype'), url('../../local/templates/darito/include/css/font/rouble-webfont.woff') format('woff'), url('../../local/templates/darito/include/css/font/rouble-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bold {
    font-family: "Gilroy Bold";
    font-weight: 700;
}

.italic {
    font-family: "Georgia Italic";
}

.section {
    &_head {
        margin-bottom: 35px;
    }
    &_title {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
        color: $mainSub;
        .text {
            flex: 0 0 auto;
            padding-right: 30px; // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;
        }
        .line {
            flex: 1 0 auto;
            height: 1px;
            opacity: 0.1;
            background-color: black;
        }
    }
    &_body {
        margin-bottom: 70px;
    }
    &-bg {
        background-color: #fafafa;
    }
}

/* BEGIN: breadcrumbs */

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 35px;
    &_item {
        position: relative;
        color: #59a6ba;
        font-size: 14px;
        font-weight: 500;
        &:not(:last-child) {
            margin-right: 30px;
            &::after {
                position: absolute;
                content: '';
                display: block;
                top: 5px;
                right: -17px;
                width: 5px;
                height: 5px;
                background-color: #49617b;
                border-radius: 50%;
            }
        }
        &:nth-last-of-type(2) {
            &::after {
                background-color: #59a6ba;
            }
        }
        a {
            display: block;
            color: #49607b;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

/* END: breadcrumbs */

/* BEGIN: outer */

.b-outer {
    margin-bottom: 50px;
    .container {
        display: flex;
        justify-content: space-between;
    }
    a {
        display: block;
        color: #7e8890;
        font-size: 14px;
        font-weight: 500;
        border: 1.22px solid #7e8890;
        border-radius: 3px;
        padding: 9px 15px 9px 45px;
    }
    &_back {
        background: url(../img/back.png) left 15px center no-repeat;
    }
    &_print {
        background-color: #fff;
        background: url(../img/printer.png) left 15px center no-repeat;
        transition: all .3s;
        &:hover {
            color: #fff;
            background-color: #7e8890;
            background-image: url(../img/printer-white.png);
        }
    }
}

/* END: outer */

@import "main-block";
@import "info";
@import "desc";
/* BEGIN: gift-for */

.b-tags {
    &_list {
        margin-right: -12px;
        margin-left: -12px;
    }
    &_item {
        display: inline-block;
        padding: 0px 12px;
        margin-bottom: 17px;
    }
    &_link {
        display: block;
        color: $text;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        background-color: #fafafa;
        border-radius: 3px;
        padding: 8px 12px 8px 45px;
    }
}

/* END: gift-for */

/* BEGIN: guarantees */

.guarantees {
    display: flex;
    flex-flow: row wrap;
    font-size: 0px;
    margin-right: -15px;
    margin-left: -15px;
    &_block {
        display: inline-block;
        flex: 0 0 auto;
        width: 100%;
        max-width: 33.33%;
        vertical-align: top;
        padding: 0px 15px;
        margin-bottom: 15px;
    }
    &_item {
        position: relative;
        height: 100%;
        background-color: #fafafa;
        border-radius: 3px;
        padding: 23px 116px 23px 23px;
        .title {
            display: inline-block;
            max-width: 100%;
            color: #fff;
            font-family: 'Gilroy Bold';
            font-size: 12px;
            font-weight: 700;
            line-height: 14px;
            text-transform: uppercase;
            background-color: #49617b;
            border-radius: 4px;
            padding: 3px 10px;
            margin-bottom: 23px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            img {
                vertical-align: top;
                margin-right: 5px;
            }
        }
        .text {
            position: relative;
            max-height: 77px;
            color: $mainSub;
            font-family: Georgia;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 15px;
            overflow: hidden;
            &::before {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fafafa 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
                content: '';
                height: 25px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
            }
        }
        .bg {
            display: block;
            max-width: 75px;
            max-height: 75px;
            position: absolute;
            top: 50%;
            right: 38px;
            transform: translate(0, -50%);
        }
        &-guarant,
        &-credit {
            .guarantees_link {
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &::after {
                    position: absolute;
                    display: block;
                    content: '>';
                    right: 0px;
                    bottom: 0px;
                }
                &:last-child {
                    padding-right: 15px;
                }
            }
        }
    }
    &_link {
        display: inline-block;
        max-width: 100%;
        color: #58a6b9;
        font-family: Georgia;
        font-size: 16px;
        font-style: italic;
        padding-right: 15px;
        &:last-child {
            padding-right: 0px;
        }
    }
}

/* END: guarantees */

@import "person";
@import "related-products";
@import "payment-delivery";
@import "advantages";
@import "bonus";
//confirm-of-reg.scss
@import 'confirm-of-reg';
@import "popup-box";
/* END: card-detail */
//footer
@import 'footer-new';
//subscription form
@import 'subscription';