.section-gift {
    .b-personal-greeting {
        margin-top: 57px;
        font-family: "Gilroy Medium";
    }
    .personal-greeting_text {
        font-size: 24px;
        color: rgb(73, 97, 123);
        position: relative;
    }
    .personal-greeting_text:before {
        content: "";
        background-color: rgb(0, 0, 0);
        opacity: 0.102;
        position: absolute;
        width: 100%;
        height: 1px;
        top: 50%;
        left: 0;
        margin-top: -0.5px;
    }
    .personal-greeting_text span {
        background: rgb(255, 255, 255);
        padding-right: 20px;
        z-index: 1;
        position: relative;
    }
    .personal-greeting_list {
        margin-top: 38px;
    }
    .personal-greeting_item {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        width: 265px;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        margin: 0 22px 10px 0;
        position: relative;
        z-index: 1;
    }
    .personal-greeting_item:nth-child(4n+4) {
        margin-right: 0;
    }
    .personal-greeting_item:hover .personal-greeting__hide-text {
        display: block;
    }
    .personal-greeting_item:hover {
        border-width: 1px 1px 0 1px;
        border-radius: 3px 3px 0 0;
        z-index: 2;
        padding-bottom: 1px;
    }
    .personal-greeting__hide-text {
        display: none;
        padding: 20px;
        font-size: 14px;
        font-family: "Gilroy Medium";
        color: rgb(126, 136, 144);
        background-color: #fff;
        position: absolute;
        width: 265px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 3px 3px;
        border-width: 0 1px 1px;
        left: -1px;
        margin-top: -2px;
    }
    .personal-greeting__hide-text .deadline {
        font-size: 12px;
        padding: 5px 0 5px 20px;
        background-image: url(../img/deadline_icon.png);
        background-position: left center;
        background-repeat: no-repeat;
        display: none;
        margin-bottom: 10px;
    }
    .personal-greeting__hide-text .deadline span {
        font-family: "Gilroy Bold";
        color: #000;
        font-size: 14px;
    }
    .hide_checkbox+.personal-greeting__label {
        font-size: 16px;
        display: block;
        padding: 0;
        cursor: pointer;
        position: static;
    }
    .hide_checkbox+.personal-greeting__label:before,
    .hide_checkbox+.personal-greeting__label:after,
    .choice-delivery_checkbox+.choice-delivery_label:before,
    .choice-delivery_checkbox+.choice-delivery_label:after,
    .payment-method_checkbox+.payment-method_label:before,
    .payment-method_checkbox+.payment-method_label:after,
    .user-agreement_checkbox+.user-agreement_label:before,
    .user-agreement_checkbox+.user-agreement_label:after,
    .add-certificate_checkbox+.add-certificate_label:before,
    .add-certificate_checkbox+.add-certificate_label:after {
        display: none;
    }
    .personal-greeting__image {
        width: 100%;
        height: 160px;
        position: relative;
        cursor: pointer;
    }
    .personal-greeting__image img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }
    .personal-greeting__value {
        z-index: 2;
        position: absolute;
        font-family: "Gilroy Bold";
        color: rgb(89, 166, 185);
        top: 10px;
        right: 18px;
    }
    .personal-greeting__name {
        background-color: rgb(250, 250, 250);
        font-family: "Gilroy Bold";
        color: rgb(89, 166, 185);
        line-height: 0.875;
        padding: 15px 10px 15px 45px;
        position: relative;
    }
    .personal-greeting__btn {
        border: 1px solid rgb(215, 215, 215);
        border-radius: 3px;
        background-color: rgb(231, 231, 231);
        width: 16px;
        height: 16px;
        display: block;
        top: 50%;
        margin-top: -8px;
        left: 10px;
        position: absolute;
        box-sizing: border-box;
    }
    .b-choose-personalization {
        color: rgb(126, 136, 144);
        line-height: 1;
        text-align: center;
        margin-top: 28px;
        font-size: 14px;
    }
    .b-choose-personalization img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 19px;
    }
}
.hide_checkbox:checked+.personal-greeting__label .personal-greeting__btn,
.choice-delivery_checkbox:checked+.choice-delivery_label span,
.payment-method_checkbox:checked+.payment-method_label span,
.user-agreement_checkbox:checked+.user-agreement_label span,
.add-certificate_checkbox:checked+.add-certificate_label span {
    background-color: rgb(88, 166, 185);
    box-shadow: 0px 2px 5px 0px rgba(88, 166, 185, 0.42);
    background-image: url(../img/checked-item.png);
    background-repeat: no-repeat;
    background-position: center;
}
.choice-delivery_label span,
.payment-method_label span,
.user-agreement_label span,
.add-certificate_label span {
    border: 1px solid rgb(202, 209, 226);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-right: 70px;
}

.b-image-modal,
.b-form-modal {
    background: #fff;
    box-shadow: 0 0 20px rgba(73, 97, 123, .35);
    -moz-box-shadow: 0 0 20px rgba(73, 97, 123, .35);
    -webkit-box-shadow: 0 0 20px rgba(73, 97, 123, .35);
}

.image-modal_btn {
    background-color: rgb(250, 250, 250);
    padding: 20px 20px 20px 40px;
    margin: 0 -45px 0 -35px;
}

.add-certificate_label span {
    margin-right: 20px;
}

.b-image-modal {
    max-width: 880px;
    padding: 30px 45px 0 35px;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
    
input[type=checkbox] + label:before {
    display: none;
}
}

.b-image-modal .modal-close_btn {
    position: absolute;
    right: 15px;
    top: 12px;
}

.image-modal_list {
    margin-top: 40px;
    text-align: center;
}

.modal-caption span {
    font-size: 16px;
    color: rgb(89, 166, 185);
    line-height: 0.875;
    margin-left: 10px;
}

.modal-caption .price_in_rubles {
    margin-left: 0;
}

.b-image-modal p {
    font-size: 16px;
    font-family: "Gilroy Medium";
    color: rgb(126, 136, 144);
}

.modal-caption {
    font-size: 24px;
    font-family: "Gilroy Bold";
    color: rgb(65, 87, 110);
    margin-bottom: 10px;
}

.image-modal_item {
    width: 418px;
    font-size: 16px;
    font-family: "Georgia";
    color: rgb(126, 136, 144);
    font-style: italic;
    display: inline-block;
    vertical-align: top;
    margin: 0 34px 40px 0;
    text-align: left;
}

.image-modal_item:nth-child(2n+2) {
    margin-right: 0;
}

.image-modal_item-img {
    border: 1px solid rgb(236, 236, 236);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 285px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

.image-modal_item img {
    position: absolute;
    bottom: -15px;
    left: 0;
    max-height: 100%;
    right: 0;
    margin: auto;
}

@media (max-width: 1199px) {
    .section-gift {
        .purchases-item__value {
            text-align: right;
        }
        .purchases-item__value p {
            position: absolute;
            left: 13px;
            bottom: 15px;
        }
        .info_name-item {
            padding-top: 40px;
        }
        .product-availability {
            position: absolute;
            top: 5px;
            left: 0;
        }
        .purchases-item__value .item-value:before {
            position: absolute;
            left: 13px;
            top: 10px;
        }
        .item-value_btn {
            float: none;
            margin-right: 13px;
        }
        .purchases-item__value {
            padding: 18px 0 18px;
        }
        .purchases-item__value .item-value {
            display: block;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            padding: 0 13px 15px;
            margin: 0 0 14px;
        }
        .b-favorites-item .related_item {
            max-width: 50%;
        }
        .personal-greeting_list {
            text-align: center;
            overflow: hidden;
        }
        .personal-greeting_item:nth-child(4n+4) {
            margin-right: 22px;
        }
        .header .b-menu {
            display: block;
            float: none;
            margin-left: 0;
        }
    }
}

@media (max-width: 963px) {
    .section-gift {
        .personal-greeting_text:before {
            display: none;
        }
        .purchases-item__image,
        .purchases-item__info {
            display: block;
            width: 100%;
        }
        .purchases-item__image {
            text-align: center;
            max-height: 200px;
        }
    }
}

@media (max-width: 860px) {
    .section-gift {
        .personal-area__form .b-form_input p {
            width: auto;
            display: block;
            margin-bottom: 14px;
        }
        .header .b-menu .item-menu,
        .header .b-menu .item-menu span {
            font-size: 12px;
        }
        .b-menu .item-menu .active-number {
            top: -5px;
            left: 12px;
        }
        .Rounded_Rectangle_13 {
            background-color: rgb(255, 205, 54);
            box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
            position: absolute;
            left: 15px;
            top: 4472px;
            width: 288px;
            height: 52px;
            z-index: 356;
        }
        .personal-area__form {
            padding: 37px 20px 58px 20px;
        }
        .info_name-item {
            padding-top: 59px;
        }
        .purchases-item__value .item-value .full-value {
            font-size: 18px;
        }
        .b-info_text {
            margin-bottom: 14px;
        }
        .product-availability {
            top: 27px;
        }
        .b-info_text p {
            padding-bottom: 3px;
        }
        .b-favorites-item .related_item {
            max-width: 100%;
        }
        .b-shopping-list .shopping-item .favorites-item,
        .b-shopping-list .shopping-item .deleted-item {
            display: inline-block;
        }
        .header {
            padding-top: 19px;
        }
        .b-information_left,
        .b-shopping-list .shopping-item .b-wrap.b-shopping-value,
        .shopping-item .b-wrap.b-shopping-item,
        .b-shopping-footer .b-promotional-code,
        .promotional-code_text,
        .promotional-code_info,
        .b-shopping-footer .shopping-item .b-wrap.b-shopping-value,
        .shopping-footer__name-block .promotional-code,
        .personal-greeting__hide-text,
        .b-info_text p,
        .personal-area__form .b-form_input input {
            width: 100%;
        }
        .personal-greeting__hide-text {
            border: none;
        }
        .personal-greeting_item:hover {
            border-width: 1px;
            border-radius: 3px;
            padding-bottom: 0;
        }
        .b-shopping-list .shopping-item .b-wrap.b-shopping-value,
        .shopping-item .b-wrap.b-shopping-quantity {
            vertical-align: bottom;
        }
        .personal-greeting__hide-text,
        .personal-greeting__name {
            text-align: left;
        }
        .b-information_right,
        .shopping-footer__name-block .final-quantity-item,
        .shopping-list__name-block,
        .b-shopping-footer .shopping-item .b-wrap.b-shopping-quantity,
        .header .b-wrap.b-hidden_mobile,
        .header .header-contacts .phone,
        .personal-greeting__name span,
        .b-choose-personalization {
            display: none;
        }
        .personal-greeting__name {
            padding-left: 20px;
            padding-right: 70px;
        }
        .hide_checkbox+.personal-greeting__label:before {
            display: block;
            content: "Добавить в корзину";
            background-color: rgb(255, 205, 54);
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
            background-image: url(../img/add-button_mobile.png);
            background-repeat: no-repeat;
            background-position: 9px center;
            position: absolute;
            left: 50%;
            min-width: 125px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            top: 11px;
            z-index: 3;
            width: auto;
            height: auto;
            border-radius: 13px;
            font-size: 14px;
            font-family: "Gilroy Medium";
            color: rgb(0, 0, 0);
            line-height: 1;
            padding: 5px 10px 5px 28px;
            border: none;
        }
        .hide_checkbox:checked+.personal-greeting__label:before {
            content: "Добавлен";
            background-color: rgb(18, 197, 26);
            color: rgb(255, 255, 255);
            padding: 5px 12px;
            background-image: none;
            min-width: 50px;
        }
        .header-logo {
            margin: 15px 0;
            display: inline-block;
        }
        .b-shopping-list .shopping-item .b-wrap.b-shopping-item,
        .shopping-item .b-table {
            width: 100%;
            padding: 0;
            display: block;
            padding-bottom: 0;
            box-sizing: border-box;
        }
        .b-shopping-list .b-wrap.b-shopping-item {
            width: calc(100% - 153px);
        }
        .shopping-item .quantity_container,
        .shopping-item .b-value {
            margin: 0;
        }
        .b-shopping-list .shopping-item .b-wrap.b-shopping-value {
            padding: 0 0 32px;
        }
        .b-top-menu {
            margin-top: 30px;
        }
        .shopping-item .shopping-item__img {
            text-align: center;
        }
        .b-shopping-list .b-item-info,
        .shopping-footer__name-block .promotional-code,
        .b-shopping-footer .shopping-item .b-wrap.b-shopping-value,
        .purchases-item,
        .b-personal-area__btn {
            padding: 0;
        }
        .container {
            padding: 0 10px;
        }
        .b-shopping-list .b-item-info {
            padding-top: 8px;
            margin-bottom: 28px;
        }
        .b-item-info__creator p span {
            margin-right: 12px;
            font-size: 10px;
        }
        .b-shopping-list .shopping-item {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 30px 0 33px;
            margin: 0;
        }
        .b-shopping-item_btn {
            bottom: 16px;
            right: 0;
            width: 100%;
        }
        .deleted-item {
            float: right;
        }
        .favorites-item {
            float: left;
        }
        .b-shopping-list .shopping-item:hover {
            box-shadow: none;
        }
        .favorites-item,
        .deleted-item {
            margin-left: 0;
        }
        .b-shopping-list .shopping-item:last-child {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        .b-shopping-footer {
            margin: 0 -10px;
            padding: 0 10px;
            background-color: rgb(250, 250, 250);
            padding-bottom: 23px;
            overflow: hidden;
        }
        .shopping-item .shopping-item__img,
        .b-shopping-list .b-item-info,
        .b-shopping-item_btn,
        .b-shopping-footer .b-shopping-item,
        .b-shopping-footer .shopping-item .b-wrap.b-shopping-value,
        .header-logo_mobile,
        .b-item-info__creator p,
        .personal-greeting__hide-text,
        .personal-greeting__hide-text .deadline,
        .b-info_text p {
            display: block;
        }
        .personal-greeting__hide-text {
            position: static;
            padding-top: 13px;
        }
        .personal-greeting_item {
            margin-bottom: 25px;
        }
        .header .b-wrap {
            display: block;
            width: 100%;
            text-align: center;
        }
        .shopping-footer__name-block {
            border-top: 5px solid rgb(255, 205, 54);
            border-bottom: none;
            padding-bottom: 0;
            margin: 55px -15px 0;
        }
        .b-shopping-footer .b-promotional-code,
        .promotional-code_info {
            margin-left: 0;
        }
        .shopping-footer__name-block .promotional-code {
            margin-top: 28px;
        }
        .shopping-item .b-wrap.b-shopping-item {
            padding: 10px 0 45px;
        }
        .b-shopping-footer .shopping-item .b-wrap.b-shopping-value {
            position: relative;
        }
        .final-quantity-item__mobile {
            display: block;
        }
        .back-shopping {
            width: 100%;
            text-align: center;
            min-height: 28px;
        }
        .back-shopping img {
            margin-right: 7px;
            width: 10px;
        }
        .back-shopping {
            font-size: 12px;
        }
        .header .ask-questions {
            float: left;
            min-height: 28px;
            padding: 0 25px;
            font-size: 12px;
            margin-top: 15px;
        }
        .header .header-contacts {
            float: right;
            margin: 13px 0 0;
        }
        .header-contacts .b-social {
            margin: 0;
        }
        .b-liked-goods {
            font-size: 20px;
            margin-top: 9px;
        }
        .b-liked-goods .user-name,
        .personal-greeting_text {
            font-size: 20px;
        }
        .personal-greeting__value {
            top: 172px;
            right: 9px;
        }
        .b-information-user {
            margin: 8px 0 40px;
        }
        .b-information_left .form-basket {
            padding: 35px 6px 35px 6px;
        }
    }
}

@media (max-width: 580px) {
    .section-gift {
        input[type="submit"].information-user_btn {
            width: 100%;
        }
        .b-menu .item-menu .active-number {
            top: -11px;
            left: 32px;
        }
        .purchases-item__value {
            margin: 0 -10px;
            box-sizing: content-box;
            padding: 18px 10px;
            border-radius: 0;
        }
        .purchases-item__value .item-value {
            margin: 0 -10px 14px 0;
        }
        .item-value_btn {
            margin: 0;
        }
        .purchases-item__value .item-value::before {
            left: 0;
        }
        .b-favorites-item,
        .b-basket-menu {
            width: 100%;
            display: block;
        }
        .b-favorites-item .related {
            margin: 0;
        }
        .b-favorites-item .related_item {
            padding: 0 5px;
        }
        .image-modal_item,
        .personal-area__form {
            width: 100%;
        }
        .image-modal_item-img {
            height: 180px;
        }
        .b-discount {
            position: absolute;
            top: 50%;
            right: -100px;
            margin: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
        .personal-area_btn {
            float: none;
            display: inline-block;
            margin: 5px 0 0;
            padding: 0 30px 10px 0;
        }
        .choice-delivery-item,
        .payment-method_item,
        .b-form .b-form_name span {
            display: block;
            margin: 0;
        }
        .b-form .b-form_name {
            margin-bottom: 20px;
        }
        .b-form_input p {
            width: auto;
            display: block;
            margin-bottom: 14px;
        }
        .b-form .b-form_name::before {
            display: none;
        }
        .b-form_input input,
        .b-form_textarea textarea {
            width: 100%;
        }
        .add-phone_btn,
        .add-input_btn,
        .b-new-phone {
            margin-left: 0;
        }
        .b-form_textarea textarea {
            max-width: 100%;
            min-width: 100%;
        }
        .account-item span {
            display: none;
        }
        .account-item .text-mobile {
            display: inline-block;
        }
        .personal-greeting_item {
            margin-right: 0;
            width: 100%;
        }
        .b-menu .item-menu {
            padding-left: 0;
            padding-top: 28px;
            background-position: center top;
            margin-right: 23px;
            font-size: 12px;
        }
        .b-top-menu {
            margin-top: 54px;
        }
    }
}