/* BEGIN: subscription form */
$grid-gutter-width: 25px;
$columns: 2;

.subscription {
    position: relative;
    width: 365px;
    min-height: 1px;
    text-align: center;
    background: #59a6b9;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 40px rgba(0, 0, 0, 0.31);

    &::before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: -16px;
        width: 0;
        height: 0;
        border-bottom: 21px solid #457d8b;
        ;
        border-left: 16px solid transparent;
    }

    input,
    button {
        width: 100%;
        font-size: 14px;
        border-radius: 4px;
        padding: 20px;
        border-color: transparent;
        line-height: normal;
        margin-bottom: 12px;

        @include input-placeholder {
            color: rgba($color: #000000, $alpha: 0.41);
            font-size: 14px;
            font-weight: 500;
        }
    }

    button {
        padding: 19px 20px;
    }

    [type=submit] {
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.17);
        border-radius: 4px;
        background-color: #efd829;
        cursor: pointer;
    }

    form {
        label {
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            line-height: 20px;
        }
    }

    &_h {
        padding: 16px 26px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.06);

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
        }
    }

    &_b {
        padding: 22px 26px;
    }

    &_title {
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
    }

    &_info {
        text-align: left;

        .name {
            font-size: 10px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .val {
            display: table;
            font-size: 12px;
            font-weight: 500;

            &_item {
                display: table-cell;
                vertical-align: middle;

                &-lg {
                    font-size: 20px;
                    font-weight: 700;
                }

                &-xl {
                    font-size: 36px;
                    font-weight: 700;
                }

                &-color {
                    color: #efd829;
                }
            }
        }

        .text {
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &_table {
        display: flex;
        flex-wrap: wrap;
        margin-right: ($grid-gutter-width / -2);
        margin-left: ($grid-gutter-width / -2);

        &>* {
            position: relative;
            width: 100%;
            flex: 0 0 (100% / $columns);
            max-width: (100% / $columns);
            min-height: 1px; // Prevent collapsing
            padding-right: ($grid-gutter-width / 2);
            padding-left: ($grid-gutter-width / 2);
        }
    }
}

/* END: subscription form */