@import "vars";
@import "mixins";
* {
    box-sizing: border-box;
}

body {
    font-family: "Gilroy Medium", Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: $text;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.error {
    color: #f43d3d !important;
}

.header_mobile-icons img {
    max-height: 20px;
}

/* BEGIN: Roman styles */

@import "style";
.section-gift .personal-greeting__hide-text .deadline {
    display: block;
}

.section-gift .personal-greeting__value {
    float: right;
    position: static;
}

.section-gift .personal-greeting__image {
    overflow: hidden;
}

.section-gift .personal-greeting__image img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.section-gift .hide_checkbox+.personal-greeting__label.checkbox-default,
.add-certificate_checkbox+.add-certificate_label {
    position: relative;
    &:before {
        background-image: #fff;
        display: block;
        border: 1px solid #b4c2d0;
        content: '';
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }
    &:after {
        background: url(../img/sprites.png) -230px -81px;
        content: '';
        height: 11px;
        overflow: hidden;
        position: absolute;
        top: 16px;
        left: 12px;
        width: 0;
        transition: ease-in 350ms;
        position: absolute;
        display: block;
        z-index: 2;
    }
}

.add-certificate_checkbox+.add-certificate_label {
    &:after {
        top: 4px;
    }
}

.b-image-modal input[type=checkbox]+label:before {
    display: block;
}

input[type=checkbox].hide_checkbox:checked+label.checkbox-default:before {
    background: #53667a;
    border-color: #53667a;
}

input[type=checkbox].hide_checkbox:checked+label.checkbox-default:after {
    width: 14px;
}

@media (max-width: 860px) {
    .section-gift .hide_checkbox+.personal-greeting__label.checkbox-default:before {
        display: block;
        content: "Добавить к товару";
        background-color: rgb(255, 205, 54);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
        background-image: url(../img/add-button_mobile.png);
        background-repeat: no-repeat;
        background-position: 9px center;
        position: absolute;
        left: 50%;
        min-width: 125px;
        transform: translateX(-50%);
        top: -150px;
        z-index: 3;
        width: auto;
        height: auto;
        border-radius: 13px;
        font-size: 14px;
        font-family: "Gilroy Medium";
        color: rgb(0, 0, 0);
        line-height: 1;
        padding: 5px 10px 5px 28px;
        border: none;
    }
    .section-gift .hide_checkbox:checked+.personal-greeting__label.checkbox-default:before {
        content: "Добавлен";
        background-color: rgb(18, 197, 26);
        color: rgb(255, 255, 255);
        padding: 5px 12px;
        background-image: none;
        min-width: 50px;
    }
    .section-gift .hide_checkbox+.personal-greeting__label.checkbox-default:after {
        display: none;
    }
}
/* BEGIN: print-block */
[class*='-print'],
.footer-pr {
    display: none;
}
/* END: print-block */
/* END: Roman styles */

@import "styles";
@import "media";
@import "footer-new-media";
@import "print";