/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-medal {
  background-image: url(sprite.png);
  background-position: -27px 0px;
  width: 24px;
  height: 23px;
}
.icon-ssl {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 27px;
  height: 27px;
}
.icon-trade-mark {
  background-image: url(sprite.png);
  background-position: 0px -27px;
  width: 23px;
  height: 23px;
}
