<!-- BEGIN subscription -->
<div class="subscription">
    <div class="subscription_h">
        <h4 class="subscription_title">Подпишитесь</h4>
        <p>и получите свои первые подарки</p>
    </div>
    <div class="subscription_b">
        <div class="subscription_table">
            <div class="subscription_info">
                <p class="name">Скидки до</p>
                <p class="val"><span class="val_item-xl val_item-color">20</span><span class="val_item val_item-lg val_item-color">%</span><span class="val_item text"> на весь ассортимент</span></p>
            </div>
            <div class="subscription_info">
                <p class="name">В подарок</p>
                <p class="val"><span class="val_item val_item-xl val_item-color">49</span><span class="val_item text"> книг мировой классики</span></p>
            </div>
        </div>
    </div>
    <div class="subscription_b">
        <form action="" id="subscriptionForm">
            <div class="feild_wrapper">
                <input type="email" name="email" placeholder="Введите ваш E-mail">
                <span class="error_label">Это поле не может быть пустым</span>
            </div>
            <button type="submit">Подписаться</button>
            <div class="feild_wrapper">
                <input type="checkbox" id="checkSubscription" checked>
                <label for="checkSubscription">С пользовательским соглашением ознакомлен
                </label>
                <span class="error_label">Это поле не может быть пустым</span>
            </div>
        </form>
    </div>
</div>
<!-- END subscription -->